<div>
  <div>
    <h2>
      <span kaanna="'ops-pohja'"></span>
      (<span kaanna="model.koulutustyyppi"></span>)
      <span class="pull-right">
        <button ng-hide="$$isRakenneMuokkaus" icon-role="refresh" class="btn btn-default" kaanna="'synkronoi-perusteeseen'" ng-click="sync()"></button>
        <button ng-hide="$$isRakenneMuokkaus" icon-role="add" class="btn btn-default" kaanna="'lisaa-tekstikappale'" ng-click="lisaaTekstikappale()"></button>
        <button ng-hide="$$isRakenneMuokkaus" icon-role="sort" class="btn btn-default" ng-click="muokkaaRakennetta()" kaanna="'muokkaa-rakennetta'"></button>
      </span>
    </h2>
  </div>
  <div class="tekstisisalto">
      <generic-tree ui-sortable-config="sortableConfig" tree-provider="tekstitProvider"></generic-tree>
  </div>
</div>
