<div class="pohja-tekstikappale">
  <div class="action-buttons-inline" ng-hide="editMode">
    <!-- <a ui-sref="root.opetussuunnitelmat.yksi.tekstikappale({id: pohjaId, tekstikappaleId: model.id})">[ops-näkymä]</a> -->
    <button class="btn btn-default" kaanna="'poista'" icon-role="remove" ng-click="delete()" oikeustarkastelu="{ target: 'opetussuunnitelma', permission: 'muokkaus' }"></button>
    <button class="btn btn-default" kaanna="'muokkaa'" icon-role="edit" ng-click="edit()" oikeustarkastelu="{ target: 'opetussuunnitelma', permission: 'muokkaus' }"></button>
  </div>

  <div ng-if="editMode" class="teksti-edit-mode">

    <h2>
      <input ng-model="model.tekstiKappale.nimi" slocalized class="form-control" placeholder="{{'kappaleen-otsikko'|kaanna}}">
    </h2>

    <h3 collapse-toggler="options.ohjeistusCollapsed" kaanna="'ohjeistus'"></h3>

    <div collapse="options.ohjeistusCollapsed" class="teksti-well">
      <div ckeditor ng-model="ohje.teksti" slocalized></div>
    </div>

    <h3 collapse-toggler="options.perusteentekstiCollapsed" kaanna="'perusteen-teksti'"></h3>

    <div collapse="options.perusteentekstiCollapsed" class="teksti-well">
      <div ckeditor ng-model="perusteteksti.teksti" slocalized></div>
    </div>

    <h3 collapse-toggler="options.tekstiCollapsed">
      <span kaanna="'opsin-teksti'"></span>
    </h3>
    <label><input type="checkbox" ng-model="model.pakollinen"><span kaanna="'pakollinen'"></span></label>

    <div collapse="options.tekstiCollapsed" class="teksti-well">
      <div ckeditor ng-model="model.tekstiKappale.teksti" slocalized></div>
    </div>

  </div>


  <div ng-if="!editMode">

    <h2><span ng-bind="model.tekstiKappale.nimi | kaanna"></span></h2>

    <h3 collapse-toggler="options.ohjeistusCollapsed">
      <span kaanna="'ohjeistus'"></span>
      <a class="inline-toggle-link" ng-hide="isEmpty(ohje.teksti)" ng-click="ohjeOps.delete($event, ohje)" kaanna="'poista'"></a>
    </h3>

    <div collapse="options.ohjeistusCollapsed" class="teksti-well">
      <span ng-bind-html="ohje.teksti | kaanna | unsafe"></span>
      <span class="empty-placeholder" ng-if="isEmpty(ohje.teksti)" kaanna="'ei-maaritetty'"></span>
    </div>

    <h3 collapse-toggler="options.perusteentekstiCollapsed">
      <span kaanna="'perusteen-teksti'"></span>
      <a class="inline-toggle-link" ng-hide="isEmpty(perusteteksti.teksti)" ng-click="ohjeOps.delete($event, perusteteksti)" kaanna="'poista'"></a>
    </h3>

    <div collapse="options.perusteentekstiCollapsed" class="teksti-well">
      <span ng-bind-html="perusteteksti.teksti | kaanna | unsafe"></span>
      <span class="empty-placeholder" ng-if="isEmpty(perusteteksti.teksti)" kaanna="'ei-maaritetty'"></span>
    </div>

    <h3 collapse-toggler="options.tekstiCollapsed">
      <span kaanna="'opsin-teksti'"></span>
      <span ng-show="model.pakollinen" class="badge inline-toggle-link" kaanna="'pakollinen'"></span>
    </h3>

    <div collapse="options.tekstiCollapsed" class="teksti-well">
      <span ng-bind-html="model.tekstiKappale.teksti | kaanna | unsafe"></span>
      <span class="empty-placeholder" ng-if="isEmpty(model.tekstiKappale.teksti)" kaanna="'ei-maaritetty'"></span>
    </div>

  </div>
</div>
