<div class="ops-edit-container">
  <h2 ng-hide="luonnissa">
    <div class="action-buttons-inline">
      <button ng-hide="editMode" class="btn btn-default" kaanna="'poista'" icon-role="remove" ng-click="delete()" oikeustarkastelu="{ target: 'pohja', permission: 'poisto' }"></button>
      <button ng-hide="editMode" class="btn btn-default" kaanna="'muokkaa'" icon-role="edit" ng-click="edit()" oikeustarkastelu="{ target: 'pohja', permission: 'muokkaus' }"></button>
    </div>
    <span kaanna="'pohjan-tiedot'"></span>
  </h2>
  <div class="muokkaustiedot" ng-hide="editMode || luonnissa">
    <span kaanna="'luotu'"></span> <span ng-bind="model.luotu | aikaleima"></span><span ng-if="model.luotu != model.muokattu">,
    <span kaanna="'muokattu-viimeksi'"></span>  <span ng-bind="model.muokattu | aikaleima"></span></span>
  </div>

  <div class="data-container">
    <div class="row">
      <div class="col-sm-3 formfield-label">
        <label for="ops-field-nimi"><span kaanna="'nimi'"></span><span ng-if="(editMode || luonnissa)">*</span></label>
      </div>
      <div class="col-sm-9 formfield-data" ng-class="{viewmode: !(editMode || luonnissa)}">
        <div ng-if="!(editMode || luonnissa)" ng-bind="model.nimi | kaanna"></div>
        <input ng-if="(editMode || luonnissa)" id="ops-field-nimi" ng-model="model.nimi" slocalized class="form-control">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 formfield-label">
        <label><span kaanna="'peruste'"></span><span ng-if="(editMode || luonnissa)">*</span></label>
      </div>

      <div class="col-sm-6 formfield-data" ng-class="{viewmode: !(editMode || luonnissa)}">
        <div ng-if="!(editMode || luonnissa)" ng-bind="model.perusteenDiaarinumero"></div>

        <ui-select ng-if="(editMode || luonnissa)" ng-disabled="editMode && !yksinkertainen" class="ui-select" ng-model="model.perusteenDiaarinumero" on-select="$select.search = ''">
          <ui-select-choices repeat="peruste.diaarinumero as peruste in perustelista | filter: $select.search">
            <div ng-bind-html="peruste.nimi | kaanna | highlight: $select.search"></div>
            <div class="detail-info">
              <span kaanna="'diaarinumero'"></span>: {{peruste.diaarinumero}}
              <span kaanna="'voimassaolo-loppuu'"></span>: {{peruste.voimassaoloLoppuu | aikaleima:'date':'toistaiseksi-voimassa'}}
            </div>
          </ui-select-choices>
          <ui-select-match class="ui-select-match" placeholder="{{'valitse-peruste' | kaanna}}">{{$select.selected.nimi | kaanna}} {{$select.selected.diaarinumero}}</ui-select-match>
        </ui-select>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 formfield-label">
        <label><span kaanna="'julkaisukielet'"></span><span ng-if="(editMode || luonnissa)">*</span></label>
      </div>

      <div class="col-sm-9 formfield-data" ng-class="{viewmode: !(editMode || luonnissa)}">
        <span ng-if="!(editMode || luonnissa)" ng-repeat="kielikoodi in model.julkaisukielet | orderBy:kieliOrderFn">
          <span ng-bind="kielikoodi | kaanna"></span><span ng-show="!$last">, </span>
        </span>
        <label ng-if="(editMode || luonnissa)" ng-repeat="kielikoodi in kielivalinnat" class="julkaisukieli">
          <input type="checkbox" ng-model="julkaisukielet[kielikoodi]">
          <span ng-bind="kielikoodi | kaanna"></span>
        </label>
      </div>
    </div>
    <div class="row" ng-if="luonnissa">
      <div class="col-sm-3 formfield-label"></div>
      <div class="col-sm-9 formfield-data">
        <div class="luontinapit">
          <button class="btn btn-default tallenna-peruuta-nappi" kaanna="'peruuta'" ng-click="uusi.cancel()"></button>
          <button class="btn btn-primary tallenna-peruuta-nappi" kaanna="'luo-pohja'" ng-click="uusi.create()"
                ng-disabled="!hasRequiredFields()"></button>
        </div>
      </div>
    </div>
  </div>

</div>
