<div class="teksti-node" ng-class="{editmode: kappaleEdit === kappale}">
  <div class="teksti-node-actions">
    <span ng-show="!kappaleEdit">
      <a ng-click="pohjaOps.edit(kappale)" icon-role="edit" ng-attr-title="{{'muokkaa' | kaanna}}"></a>
      <a ng-click="pohjaOps.delete(osio, kappale)" icon-role="remove" ng-attr-title="{{'poista' | kaanna}}"></a>
    </span>
  </div>

  <span ng-show="rakenneEdit[osio]" icon-role="drag" ui-tree-handle></span>
  <span ng-if="kappaleEdit !== kappale" ng-bind="kappale.tekstiKappale.nimi || 'nimeton' | kaanna"
        ng-attr-title="{{kappale.tekstiKappale.nimi | kaanna}}"></span>

  <div class="input-group" ng-if="kappaleEdit === kappale">
    <input ng-model="kappale.tekstiKappale.nimi" slocalized class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-default" ng-click="pohjaOps.cancel(kappale)" kaanna="'peruuta'"></button>
      <button class="btn btn-primary" ng-click="pohjaOps.save(kappale)" kaanna="'tallenna'"></button>
    </span>
  </div>

</div>

<ul ui-tree-nodes ng-model="kappale.lapset">
  <li ng-repeat="kappale in kappale.lapset" ui-tree-node ng-include="'views/opetussuunnitelmat/pohja/treenode.html'"></li>
</ul>
