target
*~
nbproject/
**/.project
**/.settings
**/.classpath
**/rebel.xml
nbactions-oph.xml
npm-debug.log

*.iml
.idea/
.DS_Store
.tscache
.baseDir.ts
auditlog.log
tscommand-*
yarn-error.log

*/logs/
eperusteet-ylops-service/logs

