<h1 kaanna="'hallinta'"></h1>

  <h2>
    <a href="" ng-click="$$collapsestats = !$$collapsestats">
      <span ng-show="$$collapsestats" icon-role="chevron-down"></span>
      <span ng-hide="$$collapsestats" icon-role="chevron-right"></span>
      <span kaanna="'tilastot'"></span>
    </a>
  </h2>
  <div collapse="!$$collapsestats">
    <div class="row">
      <div class="col-md-3">
        <h3 kaanna="'maarat-kuntatasoittain'"></h3>
        <ul>
          <li><label kaanna="'seutukunnat'"></label>: {{ statsit.seutukunnat || 0 }}</li>
          <li><label kaanna="'kunnat'"></label>: {{ statsit.kunnat || 0 }}</li>
          <li><label kaanna="'koulujoukko'"></label>: {{ statsit.koulujoukot || 0 }}</li>
          <li><label kaanna="'koulut'"></label>: {{ statsit.koulut || 0 }}</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3 kaanna="'maarat-koulutustyypeittain'"></h3>
        <ul>
          <li ng-repeat="(tyyppi, arr) in statsit.maaratTyypeittain">
            <label kaanna="tyyppi"></label>:
            {{ arr.length || 0 }}
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3 kaanna="'maarat-kielittain'"></h3>
        <ul>
          <li ng-repeat="(kieli, maara) in statsit.maaratKielittain">
            <label kaanna="kieli"></label>:
            {{ maara || 0 }}
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3 kaanna="'maarat-tiloittain'"></h3>
        <ul>
          <li ng-repeat="(tila, opsit) in statsit.maaratTiloittain">
            <label kaanna="tila"></label>:
            {{ opsit.length || 0 }}
          </li>
        </ul>
      </div>
    </div>
  </div>

<div class="action-buttons">
</div>

<div class="admin-rajaus">
  <div class="admin-rajaus-rajaus">
    <rajaus model="search.term" placeholder="rajaa-tuloksia" callback="search.changed(value)"></rajaus>
  </div>
  <div class="admin-tila-rajaus">
    <label kaanna="'tila'" for="admin-tilarajaus"></label>
    <select ng-model="search.tilaRajain" class="form-control" id="admin-tilarajaus"
          ng-options="tila as ('tila-'+tila)|kaanna for tila in tilat">
      <option value="">{{'kaikki'|kaanna}}</option>
    </select>
  </div>
</div>

<table class="table table-hover ops-table" ng-if="items && items.length">
  <tr>
    <th class="ops-th-nimi">
      <a ng-click="sorter.set('nimi')">
        <span kaanna="'nimi'"></span>
        <span ng-show="sorter.key === 'nimi'" class="glyphicon"
          ng-class="sorter.desc ? 'glyphicon-sort-by-alphabet-alt' : 'glyphicon-sort-by-alphabet'">
        </span>
      </a>
    </th>

    <th class="ops-th-koulutustyyppi">
      <a ng-click="sorter.set('koulutustyyppi')">
        <span kaanna="'koulutustyyppi'"></span>
        <span ng-show="sorter.key === 'koulutustyyppi'" class="glyphicon"
              ng-class="sorter.desc ? 'glyphicon-sort-by-alphabet-alt' : 'glyphicon-sort-by-alphabet'">
        </span>
      </a>
    </th>

    <!-- <th ng&#45;if="opsiLista" class="ops&#45;th&#45;koulutustoimija"> -->
    <!--   <a ng&#45;click="sorter.set('koulutustoimija')"> -->
    <!--     <span kaanna="'koulutustoimija'"></span> -->
    <!--     <span ng&#45;show="sorter.key === 'koulutustoimija'" class="glyphicon" -->
    <!--       ng&#45;class="sorter.desc ? 'glyphicon&#45;sort&#45;by&#45;alphabet&#45;alt' : 'glyphicon&#45;sort&#45;by&#45;alphabet'"> -->
    <!--     </span> -->
    <!--   </a> -->
    <!-- </th> -->

    <th class="ops-th-tila">
      <a ng-click="sorter.set('tila')">
        <span kaanna="'tila'"></span>
        <span ng-show="sorter.key === 'tila'" class="glyphicon"
          ng-class="sorter.desc ? 'glyphicon-sort-by-alphabet-alt' : 'glyphicon-sort-by-alphabet'">
        </span>
      </a>
    </th>

    <!-- <th class="ops&#45;th&#45;muokattu"> -->
    <!--   <a ng&#45;click="sorter.set('muokattu')"> -->
    <!--     <span kaanna="'muokattu&#45;viimeksi'"></span> -->
    <!--     <span ng&#45;show="sorter.key === 'muokattu'" class="glyphicon" -->
    <!--       ng&#45;class="sorter.desc ? 'glyphicon&#45;sort&#45;by&#45;attributes&#45;alt' : 'glyphicon&#45;sort&#45;by&#45;attributes'"> -->
    <!--     </span> -->
    <!--   </a> -->
    <!-- </th> -->

    <th class="ops-th-toiminto">
      <span kaanna="'toiminto'"></span>
    </th>

  </tr>

  <tr ng-if="!items.$resolved"><td colspan="4"><small-spinner></small-spinner></td></tr>
  <tr ng-if="items.$resolved" ng-repeat="item in filtered | orderBy:sorter.fn:sorter.desc | startFrom:(paginate.current-1)*paginate.perPage | limitTo: paginate.perPage">
    <td>
      <span kaanna="item.nimi"></span>
    </td>
    <td>
      <span kaanna="item.koulutustyyppi"></span>
    </td>
    <!-- <td> -->
    <!--   <span ng&#45;repeat="org in item.organisaatiot | filter:{tyypit:'koulutustoimija'} | orderBy:nimiSort"><span ng&#45;bind="org.nimi | kaanna"></span><br ng&#45;if="!$last"></span> -->
    <!-- </td> -->
    <td><span class="taulukko-tila" ng-class="'tila-'+item.tila" ng-bind="item.tila | kaanna"></span></td>
    <!-- <td><span ng&#45;bind="item.muokattu | aikaleima:'short'"></span></td> -->
    <td><button ng-click="palauta(item)" class="btn btn-default" ng-if="item.tila === 'poistettu'" kaanna="'palauta'"></button></td>
  </tr>
</table>
<p ng-if="filtered.length === 0" kaanna="'ei-opetussuunnitelmia'"></p>

<p ng-if="filtered.length > 0" class="pagination-page-info" ng-bind="((paginate.current-1)*paginate.perPage + 1) + ' – ' + lastVisible + ' / ' + filtered.length"></p>
<pagination ng-if="items.length > 0" ng-model="paginate.current" total-items="filtered.length" items-per-page="paginate.perPage"></pagination>
