<!-- virhe.html -->
<h1 kaanna>virhe</h1>
<p ng-hide="data.state">{{ 'virhe-muu' | kaanna }}.</p>
<p ng-show="data.state">{{ 'virhe-tilan-vaihtamisessa' | kaanna }}.</p>

<div>
  <a ng-click="lisatiedotCollapsed = !lisatiedotCollapsed">
    <span class="glyphicon" ng-class="{'glyphicon-chevron-down': !lisatiedotCollapsed, 'glyphicon-chevron-right': lisatiedotCollapsed}"></span>
    <span ng-bind="lisatiedotCollapsed && 'virhe-nayta-lisatiedot' || 'virhe-piilota-lisatiedot' | kaanna"></span>
  </a>
  <div ng-hide="lisatiedotCollapsed"><pre>{{ lisatiedot | json }}</pre></div>
</div>

<button class="btn btn-default" ng-click="palaaEdelliseen()" kaanna>virhe-edelliseen-nakymaan</button>
<button ng-show="ylaTila" class="btn btn-default" ng-click="palaaYlempaan()" kaanna>virhe-ylempaan-nakymaan</button>
<button ng-show="opsId" class="btn" ui-sref="root.opetussuunnitelmat.yksi.sisalto({id: opsId})" kaanna>virhe-opetussuunnitelmaan</button>
<button class="btn" ui-sref="root.etusivu" kaanna>Etusivulle</button>
