<div class="row main-header">
  <ol class="breadcrumb pull-left">
    <li>
      <a ui-sref="root.etusivu" icon-role="home"></a>
    </li>
    <li ng-repeat="crumb in crumbs">
      <a ng-if="!$last" ng-href="{{crumb.url}}" ng-bind="crumb.label | kaanna"></a>
      <a class="active" ng-if="$last" ng-bind="crumb.label | kaanna"></a>
    </li>
  </ol>

  <!-- TODO hallinta näkyy organisaation adminille -->
<!--  <div class="header-links" kayttajaoikeustarkastelu="{ target: 'opetussuunnitelma', permission: 'hallinta' }">
    <a icon-role="settings" kaanna="'hallinta'" ui-sref="root.admin"></a>
</div>-->
  <hallintalinkki></hallintalinkki>
  <div class="header-links">
    <kielenvaihto></kielenvaihto>
  </div>
  <div class="header-links" ng-if="isLocal">
    <label><input ng-model="isVirkailija" type="checkbox"> Virkailijan oikeudet</label>
  </div>
</div>

<h1 class="eperusteet-otsikko" kaanna="'eperusteet-ops-tyokalu'"></h1>
