<div ng-hide="lapsi.$$hide">
    <div class="node" ng-class="{ 'kurssi-tausta': lapsi.dtype === 1, 'oppiaine-tausta': lapsi.dtype === 2}">
        <div class="tree-handle" ng-hide="sortableConfig.disabled">
            <span class="glyphicon glyphicon-resize-vertical"></span>
        </div>
        <div ng-show="lapsi.dtype === 1" class="colorbox kurssi-tyyppi" ng-class="lapsi.$$tyyppi"></div>
        <a class="name" ng-show="lapsi.dtype === 2"
           ui-sref="root.opetussuunnitelmat.lukio.opetus.oppiaine({ id: stateParams.id, oppiaineId: lapsi.id })">
            <span class="oppiaine">
                {{lapsi.nimi | kaanna}}
            </span>
        </a>
        <a class="name" ng-show="lapsi.dtype === 1"
           ui-sref="root.opetussuunnitelmat.lukio.opetus.kurssi({ id: stateParams.id, oppiaineId: lapsi.$$nodeParent.id, kurssiId: lapsi.id })">
            <span ng-show="lapsi.lokalisoituKoodi" class="kurssi">
                {{lapsi.nimi | kaanna}} ({{lapsi.lokalisoituKoodi | kaanna}})
            </span>
            <span ng-show="!lapsi.lokalisoituKoodi" class="kurssi">
                {{lapsi.nimi | kaanna}}
            </span>
        </a>
        <a ng-click="lisaa(lapsi)" role="button" class="action-button-right" ng-show="lapsi.dtype === 2 && !sortableConfig.disabled">
            <i class="glyphicon glyphicon-plus"></i>
        </a>
        <a ng-click="poista(lapsi)" role="button" class="action-button-right remove" ng-show="lapsi.dtype === 1 && !sortableConfig.disabled">
            <i class="glyphicon glyphicon-remove"></i>
        </a>
        <span class="muokattu-aikaleima" ng-show="sortableConfig.disabled">{{lapsi.muokattu | aikaleima}}</span>
    </div>
    <div ng-model="lapsi.lapset" ui-sortable="sortableConfig" class="lapset">
        <div ng-repeat="lapsi in lapsi.lapset" ng-include="'views/common/directives/lukiotreenode.html'"></div>
    </div>
</div>
