<div class="list-group navimenu" role="navigation">
  <a class="list-group-item item" ng-class="getClasses(item)" ng-repeat="item in items"
     ng-hide="item.root || (item.$hidden || item.$impHidden)" ng-href="{{item.url}}">
    <div class="toggler">
      <span ng-show="!item.$leaf" ng-click="toggle(items, item, $event)" class="glyphicon"
            ng-class="{'glyphicon-chevron-right': item.$collapsed, 'glyphicon-chevron-down': !item.$collapsed}"></span>
    </div>
    <span class="linktext">
      <span ng-bind="item.label | kaanna |characters:24"></span>
      <span ng-class="addIcon(item)"></span>
      <span class="pull-right" ng-if="item.valmis === true" valmius-ikoni="item"></span>
    </span>
  </a>
</div>
