<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if !(IE)]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <script type="text/javascript" src="/virkailija-raamit/apply-raamit.js"></script>
    <!-- build:css({.tmp,../src/main/app}) styles/eperusteet-ylops.css -->
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.min.css">
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css">
    <link rel="stylesheet" href="styles/eperusteet-ylops.css">
    <!-- endbuild -->
  </head>
  <body ng-app="ylopsApp" style="height:100%; background-color: white">
    <div id="loading-bar-container" sticky>
      <div></div>
    </div>

    <!-- build:js scripts/ieshims.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild  -->

    <div ng-if="lokalisointiInited" class="container-fluid" id="ylasivuankkuri">
      <div class="row">
        <div class="col-md-12">
          <ylops-header></ylops-header>
          <div ui-view></div>
        </div>
      </div>
      <div class="editointi-wrapper">
        <editointikontrollit ng-controller="EditointiController"></editointikontrollit>
      </div>
      <ylops-footer></ylops-footer>
      <backtotop></backtotop>
      <div class="notification-wrapper" ng-cloak>
        <div class="notifications" ng-model="viestit" ng-controller="NotifikaatioController">
          <div ng-if="viestit" ng-click="poistaNotifikaatio(viesti)" ng-model="viestit" ng-class="{ 'notification-normal': viesti.tyyppi === 0, 'notification-success': viesti.tyyppi === 1, 'notification-warning': viesti.tyyppi === 2, 'notification-danger': viesti.tyyppi === 3 }" ng-repeat="viesti in viestit">
            <div class="notification-body">
              <span class="close">×</span>
              <span class="notification-message" kaanna="viesti.viesti"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <!--[if lt IE 10]>
    <script>
    //optional need to be loaded before angular-file-upload-shim(.min).js
    FileAPI = {
        jsPath: 'bower_components/ng-file-upload/',
        staticPath: 'bower_components/ng-file-upload/'
    }
    </script>
    <![endif]-->

    <!-- build:js({.tmp,../src/main/app}) scripts/components.js -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/tinycolor/dist/tinycolor-min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/es6-promise/es6-promise.auto.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/restangular/dist/restangular.min.js"></script>
    <script src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils.min.js"></script>
    <script src="bower_components/angular-ui-sortable/src/sortable.js"></script>
    <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
    <script src="bower_components/angular-elastic/elastic.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="bower_components/lodash/lodash.min.js"></script>
    <script src="bower_components/angular-i18n/angular-locale_fi-fi.js"></script>
    <script src="bower_components/momentjs/min/moment.min.js"></script>
    <script src="bower_components/momentjs/lang/fi.js"></script>
    <script src="bower_components/momentjs/lang/sv.js"></script>
    <script src="bower_components/angular-cache/dist/angular-cache.min.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="bower_components/jquery-sticky/jquery.sticky.js"></script>
    <!-- endbuild -->

    <!-- Tätä ei saa minifioida -->
    <script src="bower_components/ckeditor/ckeditor.js"></script>

    <!-- build:js({.tmp,../src/main/app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/config.js"></script>
    <script src="scripts/constants.js"></script>
    <script src="scripts/resources/ylops.js"></script>
    <script src="scripts/common/lokalisointi.js"></script>
    <script src="scripts/common/cache.js"></script>
    <script src="scripts/common/directives/generictree.js"></script>
    <script src="scripts/common/directives/lukiotree.js"></script>
    <script src="scripts/states/states.js"></script>
    <script src="scripts/states/lukioStates.js"></script>
    <script src="scripts/states/vuosiluokatjaoppiaineet.js"></script>

    <script src="scripts/common/services/lokalisointi.js"></script>
    <script src="scripts/common/services/kieli.js"></script>
    <script src="scripts/common/services/iconrole.js"></script>
    <script src="scripts/common/services/kaanna.js"></script>
    <script src="scripts/common/services/virhe.js"></script>
    <script src="scripts/common/services/utils.js"></script>
    <script src="scripts/common/services/notifikaatiot.js"></script>
    <script src="scripts/common/services/editointikontrollit.js"></script>
    <script src="scripts/common/services/varmistusdialogi.js"></script>
    <script src="scripts/common/services/algoritmit.js"></script>
    <script src="scripts/common/services/oikeudet.js"></script>
    <script src="scripts/common/services/varihyrra.js"></script>
    <script src="scripts/common/services/versionhelper.js"></script>
    <script src="scripts/common/services/kommentit.js"></script>
    <script src="scripts/common/services/lukko.js"></script>
    <script src="scripts/common/services/pagination.js"></script>
    <script src="scripts/common/services/profiili.js"></script>
    <script src="scripts/common/services/kuvat.js"></script>
    <script src="scripts/common/filters.js"></script>

    <script src="scripts/common/directives/koodisto.js"></script>
    <script src="scripts/common/directives/header.js"></script>
    <script src="scripts/common/directives/footer.js"></script>
    <script src="scripts/common/directives/spinner.js"></script>
    <script src="scripts/common/directives/editointikontrollit.js"></script>
    <script src="scripts/common/directives/localized.js"></script>
    <script src="scripts/common/directives/ckeditor.js"></script>
    <script src="scripts/common/directives/navimenu.js"></script>
    <script src="scripts/common/directives/collapse.js"></script>
    <script src="scripts/common/directives/kommentit.js"></script>
    <script src="scripts/common/directives/kommenttiviesti.js"></script>
    <script src="scripts/common/directives/rajaus.js"></script>
    <script src="scripts/common/directives/ohje.js"></script>
    <script src="scripts/common/directives/versiotiedot.js"></script>
    <script src="scripts/common/directives/hallintalinkki.js"></script>
    <script src="scripts/common/directives/datepicker.js"></script>
    <script src="scripts/common/directives/muokkaustieto.js"></script>
    <script src="scripts/common/directives/termistoviitteet.js"></script>
    <script src="scripts/common/directives/jqueryspinner.js"></script>
    <script src="scripts/common/directives/sticky.js"></script>

    <script src="scripts/resources/opetussuunnitelma.js"></script>
    <script src="scripts/resources/ohje.js"></script>
    <script src="scripts/resources/ulkopuoliset.js"></script>
    <script src="scripts/resources/utils.js"></script>

    <script src="scripts/views/etusivu.js"></script>
    <script src="scripts/views/admin.js"></script>

    <script src="scripts/views/opetussuunnitelmat/services/ops.js"></script>
    <script src="scripts/views/opetussuunnitelmat/services/vuosiluokat.js"></script>
    <script src="scripts/views/opetussuunnitelmat/services/tila.js"></script>
    <script src="scripts/views/opetussuunnitelmat/services/kielitarjonta.js"></script>
    <script src="scripts/views/opetussuunnitelmat/services/lukioServices.js"></script>
    <script src="scripts/views/opetussuunnitelmat/services/oppiaine.js"></script>
    <script src="scripts/views/opetussuunnitelmat/services/pdf.js"></script>
    <script src="scripts/views/opetussuunnitelmat/kasite.js"></script>
    <script src="scripts/views/opetussuunnitelmat/directives/navigaatio.js"></script>
    <script src="scripts/views/opetussuunnitelmat/directives/header.js"></script>
    <script src="scripts/views/opetussuunnitelmat/directives/statusbadge.js"></script>
    <script src="scripts/views/opetussuunnitelmat/directives/tekstiosa.js"></script>
    <script src="scripts/views/opetussuunnitelmat/directives/oikeustarkastelu.js"></script>
    <script src="scripts/views/opetussuunnitelmat/lista.js"></script>
    <script src="scripts/views/opetussuunnitelmat/tekstikappale.js"></script>
    <script src="scripts/views/opetussuunnitelmat/kasite.js"></script>
    <script src="scripts/views/opetussuunnitelmat/sisalto.js"></script>
    <script src="scripts/views/opetussuunnitelmat/tiedot.js"></script>
    <script src="scripts/views/opetussuunnitelmat/poistetut.js"></script>

    <script src="scripts/views/opetussuunnitelmat/pohja/pohja.js"></script>
    <script src="scripts/views/opetussuunnitelmat/pohja/tiedot.js"></script>
    <script src="scripts/views/opetussuunnitelmat/pohja/tekstikappale.js"></script>

    <script src="scripts/views/opetussuunnitelmat/vuosiluokat/vlk.js"></script>
    <script src="scripts/views/opetussuunnitelmat/vuosiluokat/oppiaine.js"></script>
    <script src="scripts/views/opetussuunnitelmat/vuosiluokat/vuosiluokka.js"></script>
    <script src="scripts/views/opetussuunnitelmat/vuosiluokat/vuosiluokkaistaminen.js"></script>
    <script src="scripts/views/opetussuunnitelmat/vuosiluokat/uusioppiaine.js"></script>
    <script src="scripts/views/opetussuunnitelmat/vuosiluokat/valinnaiset.js"></script>
    <script src="scripts/views/opetussuunnitelmat/lukio/lukioTreeUtils.js"></script>
    <script src="scripts/views/opetussuunnitelmat/lukio/lukiokoulutusControllers.js"></script>
    <script src="scripts/views/opetussuunnitelmat/lukio/lukioOppiaineetControllers.js"></script>
    <script src="scripts/views/opetussuunnitelmat/lukio/lukioAihekokonaisuudet.js"></script>
    <!-- endbuild -->
  </body>
</html>
