<h1 class="plain" ng-if="luonnissa" ng-bind="isPohja ? 'uusi-pohja' : 'uusi-ops' | kaanna"></h1>
<div class="ops-header" ng-if="!luonnissa && model.$resolved">
  <div class="ops-header-toiminnot" ng-hide="isPohja"></div>
  <div class="ops-header-status">
    <statusbadge status="model.tila" editable="true" model="model"></statusbadge>
  </div>

  <div class="ops-header-tiedot">
    <h1 ng-bind="model.nimi | kaanna"></h1>
    <!-- <a ng-hide="isPohja" ui-sref="root.opetussuunnitelmat.yksi.opetussuunnitelma">Väliaikainen muokkaustila &gt;&gt;</a> -->
    <a ng-hide="isPohja" ui-sref="root.pohjat.yksi.sisalto({pohjaId: opsId})">Näytä pohjana &gt;&gt;</a>
    <a ng-show="isPohja" ui-sref="root.opetussuunnitelmat.yksi.sisalto({id: pohjaId})">Näytä OPSina &gt;&gt;</a>

    <ul class="ops-header-linkit" role="navigation">
      <li ng-repeat="linkki in linkit" ng-class="{active: linkki.active}">
        <a ng-href="{{linkki.url}}" icon-role="{{linkki.role}}"><span ng-bind="linkki.label | kaanna"></span></a>
      </li>
    </ul>

  </div>

</div>
