<h1 class="plain" ng-if="luonnissa" ng-bind="isPohjaState ? 'uusi-pohja' : 'uusi-ops' | kaanna"></h1>
<div class="ops-header" ng-if="!luonnissa && model.$resolved">

  <div class="ops-header-toiminnot" ng-hide="isPohjaState"></div>

  <div class="ops-header-status">
    <statusbadge status="model.tila" editable="true" model="model"></statusbadge>
  </div>

  <div class="ops-header-tiedot">

    <div class="pull-right" ng-if="model.tyyppi !== 'pohja'">
      <a class="action-link" ng-href="{{createUrl(model)}}" ng-if="model.esikatseltavissa" icon-role="sunglasses" kaanna="'esikatselu'"></a>
      <a class="action-link" ng-click="luoPdf()" icon-role="save" kaanna="'lataa-ops-pdf-muodossa'" style="margin-left: 16px"></a>
      <a class="action-link" ng-click="validoiOps()" icon-role="tasks" kaanna="'tarkista-ops'" style="margin-left: 16px"></a>
    </div>


    <h1 ng-bind="model.nimi | kaanna"></h1>

    <ul class="ops-header-linkit" role="navigation">
      <li ng-repeat="linkki in linkit" ng-class="{active: linkki.active}">
        <a ng-hide="linkki.action" ng-href="{{linkki.url}}" icon-role="{{linkki.role}}"><span ng-bind="linkki.label | kaanna"></span></a>
        <a ng-show="linkki.action" class="action-link" ng-click="linkki.action()" icon-role="{{linkki.role}}"><span ng-bind="linkki.label | kaanna"></span></a>
      </li>
    </ul>

  </div>
</div>
