<div ng-class="{ 'navigaatio-wrapper': isActive && items.length > 0 }">
  <div class="navigaatio-alataso-wrapper" ng-class="{collapsed: collapsed, open: !collapsed}" ng-show="isActive && items.length > 0">
    <div class="sivunavi-toggler-wrapper">
      <div class="sivunavi-toggler" ng-click="toggle()"
           ng-attr-title="{{collapsed && ('sivunavigointi-avaa-menu'|kaanna) || ('sivunavigointi-sulje-menu'|kaanna)}}">
        <div class="sivunavi-valinta">
          <span class="glyphicon glyphicon-align-justify"></span>
        </div>
      </div>
    </div>
    <div navimenu="items"></div>
  </div>

  <div ng-class="{ 'navigaatio-content': isActive && items.length > 0 }">
    <div ng-transclude></div>
  </div>
</div>
