<div class="navigaatio-wrapper" ng-if="isActive">
  <div class="navigaatio-alataso-wrapper" ng-class="{collapsed: collapsed, open: !collapsed}">

    <div class="sivunavi-toggler-wrapper">
      <div class="sivunavi-toggler" ng-click="toggle()"
           ng-attr-title="{{collapsed && ('sivunavigointi-avaa-menu'|kaanna) || ('sivunavigointi-sulje-menu'|kaanna)}}">
        <div class="sivunavi-valinta">
          <span class="glyphicon glyphicon-align-justify"></span>
        </div>
      </div>
    </div>
    <div navimenu="items[chosen].items"></div>
  </div>

  <div class="navigaatio-content">
    <div ng-transclude></div>
  </div>
</div>

<div ng-if="!isActive" class="navigaatio-content-plain">
  <div ng-transclude></div>
</div>
