<div ng-if="model.otsikko || model.teksti || muokattava.otsikko" class="tekstiosa-wrapper">
  <h3>
    <span ng-bind="model.otsikko || muokattava.otsikko | kaanna"></span>
  </h3>
  <div ng-if="model.otsikko || model.teksti" class="tekstiosa perusteen-teksti">
    <a class="toggle-perusteen-teksti" ng-click="options.collapsed = !options.collapsed">
      <span class="glyphicon" ng-class="{'glyphicon-chevron-down': !options.collapsed, 'glyphicon-chevron-right': options.collapsed}"></span>
      <span ng-bind="options.collapsed && 'nayta-perusteen-teksti' || 'piilota-perusteen-teksti' | kaanna"></span>
    </a>
    <div class="ohjeellinen ikoni-peruste" ng-class="{collapsed: options.collapsed}">
      <div class="teksti" collapse="options.collapsed" ng-bind-html="model.teksti | kaanna | unsafe"></div>
    </div>
  </div>
</div>

<div ng-if="(model.otsikko || muokattava.otsikko) && editable" class="panel-clear-fix tekstiosa">
  <h4>
    <div class="action-buttons-inline">
      <button ng-hide="editMode || config.editing" class="btn btn-default" kaanna="'muokkaa'" icon-role="edit" ng-click="startEditing()" oikeustarkastelu="{ target: 'opetussuunnitelma', permission: 'muokkaus' }"></button>
    </div>
    <span kaanna="'opsin-teksti'"></span>
  </h4>
  <div ng-if="editMode" ckeditor ng-model="muokattava.teksti" slocalized></div>
  <div ng-if="!editMode" ng-bind-html="muokattava.teksti | kaanna | unsafe"></div>
  <p class="empty-notice" ng-show="!editMode && !muokattava.teksti" kaanna="'ei-paikallista-sisaltoa'"></p>

</div>
