<div ng-if="model.otsikko || model.teksti || muokattava.otsikko" class="tekstiosa-wrapper">
  <h3>
    <span ng-bind="model.otsikko || muokattava.otsikko | kaanna"></span>
    <ohje ng-if="ohjepallo" teksti="ohjepallo"></ohje>
  </h3>
  <div ng-if="model.otsikko || model.teksti" class="tekstiosa perusteen-teksti">
    <a class="toggle-perusteen-teksti" ng-click="collapsed = !collapsed">
      <span class="glyphicon" ng-class="{'glyphicon-chevron-down': !collapsed, 'glyphicon-chevron-right': collapsed}"></span>
      <span ng-bind="collapsed && 'nayta-perusteen-teksti' || 'piilota-perusteen-teksti' | kaanna"></span>
    </a>

    <div class="ohjeellinen" ng-show="!collapsed">
      <span class="ikoni-peruste-container ikoni-peruste"></span>
      <termistoteksti class="teksti" teksti="model.teksti"></termistoteksti>
    </div>
  </div>
</div>

<div ng-if="(model.otsikko || muokattava.otsikko) && editable" class="panel-clear-fix tekstiosa">
  <h4>
    <div class="action-buttons-inline" ng-if="config.isEditable ? config.isEditable() : true">
      <button ng-hide="editMode || config.editing" class="btn btn-default" kaanna="'muokkaa'" icon-role="edit"
              ng-click="startEditing()" ng-disabled="shouldDisable"></button>
    </div>
    <span kaanna="'opsin-teksti'"></span>
    <span ng-if="muokattava.teksti.$$validointi">
      <span class="tekstikappale-error-badge" ng-repeat="virhe in muokattava.teksti.$$validointi"
          kaanna="virhe" tooltip="{{ virhe + '-kuvaus' | kaanna }}"></span>
    </span>
  </h4>
  <div ng-if="editMode" ckeditor ng-model="muokattava.teksti" slocalized></div>
  <termistoteksti teksti="muokattava.teksti" class="tekstiosan-teksti" ng-if="!editMode"></termistoteksti>
  <p class="empty-notice" ng-if="!editMode && !muokattava.teksti" kaanna="'ei-paikallista-sisaltoa'"></p>
</div>
