<!-- sisaltomuuttunut.html -->

<div class="modal-header">
  <h2 kaanna>editoimasi-sisalto-on-muuttunut</h2>
</div>

<div class="modal-body">
  <p kaanna>joku-toinen-on-muokannut-dokumenttia</p>
  <!-- <p><strong ng-bind="('huom' | kaanna) + ' '"></strong>{{ 'ylikirjoittaessasi-voit-palauttaa' | kaanna }}</p> -->
</div>

<div class="modal-footer">
  <button class="btn btn-danger" ng-click="$dismiss()" kaanna>peru-omat-muutokset</button>
  <button class="btn btn-primary" ng-click="$close()" kaanna>ylikirjoita-uusi-sisalto</button>
</div>
