.etusivu-osiot {
  .osio {
    padding-right: 25px;
  }
  h2 {
    height: 50px;
  }
  .luo-nappi {
    margin: 20px;
    padding: 10px 20px;
  }
  .pohja-select {
    max-width: 160px;
    margin-bottom: 10px;
    display: inline-block;
  }
}

.see-more {
  display: block;
  width: 100%;
  margin-top: -10px;
  text-align: center;
}

.ops-table {
  .ops-th-nimi {}
  .ops-th-kunta { width: 20%; }
  .ops-th-tila { width: 15%; }
  .ops-th-muokattu { width: 15%; }
  &.pohja-table {}
  .taulukko-tila {
    font-size: 90%;
    text-transform: uppercase;
    color: white;
    background-color: #555;
    font-weight: 700;
    padding: 3px;
    border-radius: 2px;
  }
  .tila-luonnos {
    background-color: $status-color-luonnos;
  }
  .tila-valmis {
    background-color: $status-color-valmis;
  }
  .tila-julkaistu {
    background-color: $status-color-julkaistu;
  }
  .tila-poistettu {
    background-color: $status-color-poistettu;
  }
}

label + select {
  margin-left: 10px;
}
