$lukko-width: 1.8em;
$lukko-inner: 1.2em;
.lukko {
  display: inline-block;
  width: $lukko-width;
  height: $lukko-width*1.3;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: -9px;
  .inner1 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: $lukko-inner;
    height: $lukko-inner*1.2;
    border: $lukko-inner*0.3 solid black;
    border-radius: $lukko-inner/2;
  }
  .inner2 {
    position: relative;
    top: -$lukko-inner*1.2/2;
    background-color: black;
    height: $lukko-width;
    width: $lukko-width;
  }
}
