$navigaatio-width: 280px;

.navigaatio-takaisin {
  margin: 15px 0 -25px 0;

  &.plain {
    margin-top: -25px;
    margin-bottom: 20px;
  }

  a {
    font-size: x-large;
  }
}

.navigaatio-ylataso {
  margin-top: -1px;
  font-size: 120%;
}

.navigaatio-content-plain {
  margin-top: 10px;
}

.navigaatio-content {
  margin-left: $navigaatio-width;
  padding-left: 30px;
}

.navigaatio-content-plain, .navigaatio-content {
  margin-top: 20px;
  h2:first-child {
    margin-top: 0;
  }
}

.navigaatio-alataso-wrapper {
  float: left;
  width: $navigaatio-width;
  .list-group-item {
    border-radius: 0;
  }
}

.sivunavi-toggler-wrapper {
  position: relative;
}

$sivunavi-toggle-leveys: 30px;
$sivunavi-toggle-korkeus: 50px;
$sivunavi-valinta-korkeus: $sivunavi-toggle-korkeus;
$sivunavi-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.5);

/* Kapea näyttö */
@media (max-width: $screen-md-max) {
  .navigaatio-alataso-wrapper {
    display: block;
    position: absolute;
    z-index: 1030;
    box-shadow: $sivunavi-shadow;

    .sivunavi-toggler {
      position: absolute;
      width: $sivunavi-toggle-leveys;
      height: $sivunavi-toggle-korkeus;
      left: $navigaatio-width;
      top: 20px;
      display: block;
      background-color: $brand-primary;
      box-shadow: $sivunavi-shadow;
      cursor: pointer;
      .sivunavi-valinta {
        width: $sivunavi-toggle-leveys;
        height: $sivunavi-valinta-korkeus;
        text-align: center;
        .glyphicon {
          color: white;
          font-size: 20px;
          line-height: $sivunavi-valinta-korkeus;
          float: none;
        }
      }
    }

    &.open {
      left: -2px;
    }
    &.collapsed {
      left: -$navigaatio-width;
      box-shadow: none;
    }
    &.open-add, &.collapsed-add {
      transition: all 0.2s;
    }
  }
  .navigaatio-content {
    margin-left: 35px;
    padding-left: 0;
  }

}

/* Leveä näyttö */
@media (min-width: $screen-lg-min) {
  .navigaatio-alataso-wrapper {
    display: block;
    .sivunavi-toggler {
      display: none;
    }
  }
}


$sivunavi-level-zero: 15px;
$sivunavi-level-padding: 20px;
@mixin sn-padding($level) {
  padding-left: $sivunavi-level-zero + $level*$sivunavi-level-padding;
}

.navimenu {
  margin-bottom: 0;

  .list-group-item:not(.active) {
    border-top: none;
  }
  .level, .level0 {
    border-top: 1px solid #ddd !important;
    &.active {
      border-color: $brand-primary !important;
    }
  }
  $sn-levels: 0, 1, 2, 3, 4, 5, 6, 7, 8;
  @each $i in $sn-levels {
    .level#{$i} { @include sn-padding($i); }
  }
  .item {
    .toggler {
      display: block;
      float: left;
      width: 20px;
      min-height: 1px;
      .glyphicon, .glyphicon:hover {
        text-decoration: none;
        color: black;
      }
    }
    .linktext {
      display: block;
      margin-left: 22px;
      overflow-x: hidden;
    }
    &.active {
      .glyphicon, .glyphicon:hover {
        color: white;
      }
    }
  }
}
