$navigaatio-width: 280px;

.navigaatio-ylataso {
  margin-top: -1px;
  font-size: 120%;
}

.navigaatio-content-plain {
  margin-top: 30px;
}

.navigaatio-content {
  margin-left: $navigaatio-width;
  padding-left: 30px;
}

.navigaatio-content-plain, .navigaatio-content {
  margin-top: 40px;
  h2 {
    margin-top: 0;
  }
}

.navigaatio-alataso-wrapper {
  float: left;
  width: $navigaatio-width;
  .list-group-item {
    border-radius: 0;
  }
}

/* Kapea näyttö */
@media (max-width: $screen-md-max) {
  .navigaatio-alataso-wrapper {
    display: none;
  }
  .navigaatio-content {
    margin-left: 15px;
    padding-left: 0;
  }

}

/* Leveä näyttö */
@media (min-width: $screen-lg-min) {
  .navigaatio-alataso-wrapper {
    display: block;
  }
}
