$navigaatio-width: 280px;

.navigaatio-ylataso {
  margin-top: -1px;
  font-size: 120%;
}

.navigaatio-content-plain {
  margin-top: 30px;
}

.navigaatio-content {
  margin-left: $navigaatio-width;
  padding-left: 30px;
}

.navigaatio-content-plain, .navigaatio-content {
  margin-top: 40px;
  h2 {
    margin-top: 0;
  }
}

.navigaatio-alataso-wrapper {
  float: left;
  width: $navigaatio-width;
  .list-group-item {
    border-radius: 0;
  }
}

/* Kapea näyttö */
@media (max-width: $screen-md-max) {
  .navigaatio-alataso-wrapper {
    display: none;
  }
  .navigaatio-content {
    margin-left: 15px;
    padding-left: 0;
  }

}

/* Leveä näyttö */
@media (min-width: $screen-lg-min) {
  .navigaatio-alataso-wrapper {
    display: block;
  }
}


$sivunavi-level-zero: 15px;
$sivunavi-level-padding: 20px;
@mixin sn-padding($level) {
  padding-left: $sivunavi-level-zero + $level*$sivunavi-level-padding;
}

.navimenu {
  .list-group-item:not(.active) {
    border-top: none;
  }
  .level, .level0 {
    border-top: 1px solid #ddd !important;
    &.active {
      border-color: $brand-primary !important;
    }
  }
  $sn-levels: 0, 1, 2, 3, 4, 5, 6, 7, 8;
  @each $i in $sn-levels {
    .level#{$i} { @include sn-padding($i); }
  }
  .item {
    .toggler {
      display: block;
      float: left;
      width: 20px;
      min-height: 1px;
      .glyphicon, .glyphicon:hover {
        text-decoration: none;
        color: black;
      }
    }
    .linktext {
      display: block;
      margin-left: 22px;
      overflow-x: hidden;
    }
    &.active {
      .glyphicon, .glyphicon:hover {
        color: white;
      }
    }
  }
}
