$ops-header-background: rgba(20, 158, 203, 0.06);
$ops-header-height: 120px;
$ops-border: 1px solid #ddd;

.ops-header {
  background-color: $ops-header-background;
  height: $ops-header-height;
  border: $ops-border;
  padding: 15px;
  position: relative;
  .ops-header-toiminnot {
    float: right;
  }
  .ops-header-status {
    float: left;
  }
  .ops-header-tiedot {
    margin-left: $statusbadge-width + 30px;
    h1 {
      padding: 0;
      margin: 0;
    }
  }
  .ops-header-linkit {
    margin-bottom: 7px;
    position: absolute;
    bottom: 0;
    right: -1px;
    margin-top: 20px;
    margin-bottom: -1px;
    padding-left: 0;
    font-size: 120%;
    list-style-type: none;
    li {
      //box-shadow: inset 0px -1px 1px 0px rgba(0,0,0,0.2);
      border: 1px solid #ccc;
      display: inline-block;
      padding: 5px 10px;
      &:hover {
        background-color: mix(#f5f5f5, $brand-primary, 90%);
      }
      &:not(:first-child) {
        margin-left: -1px;
      }
    }
    .active {
      //box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.2);
      border: 1px solid #ccc;
      &:hover {
        background-color: $brand-primary;
      }
      background-color: $brand-primary;
      a {
        color: white;
      }
    }
  }
}

@media (max-width: 850px) {
  .ops-header-tiedot {
    h1 {
      font-size: 24px;
    }
  }
}

@media (max-width: 700px) {
  .ops-header-tiedot {
    h1 {
      font-size: 20px;
    }
  }
}

h1.plain {
  margin-top: 30px;
}

.sisalto-osio {
  .addnew {
    background-color: #f0f0f0;
  }
  .addnew-closer {
    width: 100%;
    text-align: right;
    margin-bottom: 5px;
    font-size: 110%;
  }
  .kontrollit {
    position: absolute;
    right: 5px;
  }
  .kappale-ops {
    visibility: hidden;
    font-size: 120%;
    cursor: pointer;
    color: $brand-primary;
  }
  .floater-ops {
    position: absolute;
    right: 0;
    top: 8px;
  }
  .list-group-item a {
    display: inline-block;
    min-width: 80%;
    &.editable {
      padding-right: 40px;
    }
  }
  .list-group-item:hover .kappale-ops {
    visibility: visible;
  }
}

.tekstikappaleet {
  padding-left: 100px;
  max-width: 800px;
  margin-top: 20px;
  .teksti-node {
    padding-top: 5px;
    padding-left: 5px;
    border: 1px solid #ccc;
    height: 32px;
    font-size: 16px;
    .rakenne-link {
      position: absolute;
      max-width: 90%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    & > ul {
      margin-top: 11px;
    }
  }
}

.list-group-header {
  position: relative;
  text-align: center;
  background-color: #f0f0f0;
  font-weight: 700;
  font-size: 110%;
}

.ops-edit-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  .muokkaustiedot {
    color: #999;
  }
  .data-container {
    margin-top: 40px;
  }
}

.formfield-label {
  padding-top: 5px;
  margin-bottom: 5px;
  & > label {
    font-size: 120%;
  }
}

.formfield-data {
  padding-bottom: 30px;
  &.viewmode {
    padding-top: 5px;
  }
}

.organisaatio-label {
  padding-top: 5px;
  float: left;
}

.organisaatio-input {
  margin-left: 100px;
  margin-bottom: 10px;
  &.viewmode {
    padding-top: 5px;
  }
  min-height: 20px;
}

.organisaatio-spacer {
  margin-bottom: 120px;
}

.ui-select-search {
  box-shadow: none;
}

.ui-select {
  min-height: 32px;

  .detail-info {
    font-size: 85%;
  }
}

.julkaisukieli-label {
  padding-top: 5px;
  float: right;
}

.muokattu-viimeksi {
  float: right;
}

.muokkaa-button {
  float: right;
  margin-top: 50px;
}

.tallenna-peruuta-nappi {
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px 20px;
}

.julkaisukieli {
  margin-top: 5px;
  margin-right: 20px;
}
