$ops-header-background: rgba(20, 158, 203, 0.06);
$ops-header-height: 140px;
$ops-border: 1px solid #ddd;
$ops-status-width: 140px;

.ops-header {
  background-color: $ops-header-background;
  height: $ops-header-height;
  border: $ops-border;
  padding: 15px;
  .ops-header-toiminnot {
    float: right;
  }
  .ops-header-status {
    float: left;
    width: $ops-status-width;
    height: 100px;
    border: 1px solid #ccc;
  }
  .ops-header-tiedot {
    margin-left: $ops-status-width + 15px;
    h1 {
      padding: 0;
      margin: 0;
    }
  }
}

.tekstikappaleet {
  padding-left: 100px;
  max-width: 800px;
  margin-top: 20px;
  .teksti-node {
    padding-top: 5px;
    padding-left: 5px;
    border: 1px solid #ccc;
    height: 32px;
    font-size: 16px;
    & > ul {
      margin-top: 11px;
    }
  }
}

.list-group-header {
  text-align: center;
  background-color: #f0f0f0;
  font-weight: 700;
  font-size: 110%;
}
