.vuosiluokat-table {
  margin-top: 20px;
  margin-left: 25px;
  max-width: 95%;
  ul {
    padding-left: 1em;
  }
  .koodi-short {
    margin-right: 0.5em;
  }
  .vuosiluokka-row {
    cursor: pointer;
  }
}

.uusioppiaine {
  h2 {
    margin-bottom: 50px;
  }
  .formfield-data {
    ul {
      padding-left: 0;
      list-style-type: none;
    }
  }
}

.vuosiluokka {
  margin-top: 5px;
  margin-right: 20px;
}
