$statusbadge-height: 90px;
$statusbadge-width: 95px;

.statusbadge {
  padding: 10px 7px 10px 7px;
  color: #fff;
  font-weight: bold;
  display: table;
  text-align: center;
  background-color: $brand-primary;
  .status-name {
    text-transform: uppercase;
  }
  &>div {
    overflow: hidden;
    height: $statusbadge-height - 20px - 10px;
    width: $statusbadge-width;
  }
  p {
    margin: 0;
    font-size: 13px;
    letter-spacing: 1px;
  }
  .glyphicon {
    font-size: 28px;
    margin-top: 4px;
    margin-bottom: 7px;
  }
  &.editable {
    cursor: pointer;
  }

  &.laadinta, &.luonnos {
    background-color: $status-color-luonnos;
  }
  &.kommentointi {
    background-color: $status-color-kommentointi;
  }
  &.valmis {
    background-color: $status-color-valmis;
  }
  &.viimeistely {
    background-color: $status-color-viimeistely;
  }
  &.julkaistu {
    background-color: $status-color-julkaistu;
  }
  &.poistettu {
    background-color: $status-color-poistettu;
  }
}

.tilanvaihto {
  li {
    cursor: pointer;
    border: none;
    .statusbadge {
      float: left;
      margin-right: 20px;
    }
    &.vanha {
      background-color: #ccc;
    }
    &.uusi {
      background-color: $valinta-vari;
    }
  }
  .row>div {
    text-align: center;
  }
  .arrow {
    height: $statusbadge-height;
    .glyphicon {
      opacity: 0.5;
      font-size: 60px;
      line-height: $statusbadge-height;
    }
  }
  .confirmation {
    margin-top: 20px;
    font-size: 125%;
  }
}
