$peruste-color: lighten(#a38566, 40%);
.tekstikappale-ohje {
  h3 {
    margin-top: 0;
  }
  padding: 15px;
}

.valiaikaiset-kontrollit {
  padding: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px dashed #999;
  width: 50%;
}

.panel-clear-fix {
  .panel-body:after {
    clear: right;
  }
}

.perusteen-teksti {
  padding: 10px 20px 10px 20px;
  background-color: $peruste-color;
  .teksti {
    margin-top: 10px;
  }
}

$ohje-ikoni-size: 48px;

.ohjeellinen {
  margin-top: 15px;
  background-repeat: no-repeat;
  background-size: $ohje-ikoni-size;
  min-height: $ohje-ikoni-size;
  &.collapsed {
    min-height: 0;
    margin-top: 0;
  }
  .teksti {
    margin-left: $ohje-ikoni-size + 15px;
  }
}

.tekstikappale-title {
  margin-bottom: 30px;
  .form-control {
    font-size: 100%;
    height: 40px;
  }
}

.ohje-wrapper {
  h4 {
    margin-top: 20px;
  }
}

.tekstiosa-wrapper {
  h3 {
    margin-top: 30px;
    margin-bottom: 15px;
    //border-top: 1px solid lighten($brand-primary, 30%);
  }
}

.tekstiosa {
  h4 {
    margin-top: 30px;
    margin-bottom: 25px;
  }
  margin-left: 25px;
  &.single {
    margin-left: 0;
  }
}

.empty-notice {
  font-style: italic;
  opacity: 0.7;
}

.toggle-perusteen-teksti {
  line-height: 10px;
  display: block;
}

.opsin-teksti {
  opacity: 0.7;
}

.empty-placeholder {
  color: #999;
}

.pohja-tekstikappale {
  .teksti-well {
    margin-left: 27px;
  }
  .teksti-edit-mode {
    .teksti-well {
      margin-left: 0;
    }
  }
  h2 {
    input {
      font-size: 20px;
      height: 40px;
    }
    margin-bottom: 50px;
  }
  h3 {
    margin-top: 30px;
  }
}

.valmius.glyphicon-check {
  color: lighten(green, 5%);
}
.list-group-item.active .valmius.glyphicon-check {
  color: lighten(green, 10%);
}
.valmius.glyphicon-edit {
  color: #bbb;
}
.valmius.glyphicon {
  margin-right: 5px;
}

.teksti-valmis {
  padding-top: 6px;
  float: right;
  .glyphicon-check {
    color: green;
  }
  .btn-valmis {
    border: 1px solid #ccc;
    padding: 8px;
  }
}
