.vuosiluokkaistaminen-buttons {
    margin-top: 20px;
    width: 100%;
    text-align: right;
    .buttons {
        .btn {
            padding: 14px 24px;
        }
    }
    &.upper {
        margin-bottom: 20px;
    }
}

.vuosiluokkaistaminen-header {
    h1 {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .ohje-teksti {
        font-style: italic;
        opacity: 0.9;
    }
}

.vuosiluokkaistaminen-container-outer {
    position: relative;
    width: 100%;
    margin-bottom: 300px;
}

.inline-toggle-link {
    font-size: 13px;
    font-weight: normal;
    margin-left: 10px;
    &.badge {
        font-weight: 700;
    }
}

.tavoitteet-collapser {
    height: 80px;
    line-height: 120px;
}

.vuosiluokkaistaminen-container {
    .koodi {
        font-weight: 700;
    }
    .remover {
        visibility: hidden;
        color: $brand-primary;
        padding-top: 3px;
        padding-left: 4px;
        background-color: rgba(255, 255, 255, 0.7);
        position: absolute;
        right: 0;
        top: 0;
        font-size: 140%;
        cursor: pointer;
    }
    .kohdealue {
        display: block;
        font-weight: 700;
        font-size: 80%;
        width: 50%;
        float: right;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 3px;
    }
    .panel-body {
        padding: 5px 5px 15px 5px;
        background-color: lighten($brand-primary, 70%);
    }
    .panel-default {
        border-color: #777;
        box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.3);
    }

    .vuosiluokka {
        margin-right: 0;
        margin-bottom: 10px;

        .napit {
            float: right;
            font-size: 14px;
        }
        .panel-body {
            position: relative;
        }
    }

    .tavoitteet {
        .panel-heading {
            background-color: $brand-primary;
            color: white;
        }
    }

    .all-done {
        margin-left: 5px;
        color: #0e0;
    }

    .container-items {
        list-style-type: none;
        padding: 0;
        margin: 0;
        min-height: 100px;

        &.tavoite-list {
            font-style: italic;
            .not-used {
                background-color: white;
                color: black;
                font-style: normal;
            }
            .tavoite-nimi {
                position: relative;
                .glyphicon {
                    position: absolute;
                    font-size: 130%;
                    top: 2px;
                    left: 2px;
                }
                .tavoite-nimi-nimi {
                    margin-left: 30px;
                    display: inline-block;
                }
            }
        }

        .container-item {
            background-color: lighten(#3a8fbe, 45%);
            border: 1px solid #777;
            box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.3);
            padding: 5px;
            cursor: move;
            position: relative;

            .sisaltoalueet {
                list-style-type: none;
                padding-left: 30px;
                margin-bottom: 20px;
            }

            &:hover .remover {
                visibility: visible;
            }

            &.collapsed-mode {
                padding: 2px;
                .tavoite-nimi {
                    margin-bottom: -10px;
                    .glyphicon {
                        top: 0;
                    }
                }
            }

            &:not(:first-child) {
                margin-top: 5px;
            }

            &.placeholder {
                height: 20px;
                border: 2px solid $brand-primary;
            }
        }

        &.vuosiluokka-list {
            .container-item {
                display: inline-block;
                margin-right: 5px;
                background-color: white;
                width: 80px;
                height: 80px;
                overflow: hidden;
                margin-top: 0;
            }
        }

        &.empty {
            border: 2px dashed #777;
            .placeholder {
                margin: 5px;
            }
        }
    }
}

.vuosiluokka-empty-ohje {
    font-style: italic;
    opacity: 0.7;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 35px;
}
