$tavoite-border: 1px solid #ccc;

.vuosiluokkakokonaisuus {
    h2 {
        margin-top: 60px;
        margin-bottom: 10px;
        padding: 7px;
        background-color: $ops-header-background;
    }
}

$active-tab-bg: #e4e4e4;

.vkl-sortable {
    margin: 3px;
    padding: 5px;
    border: $tavoite-border;

    &:hover {
        background: #eee;
    }

    .handle {
        &:hover {
            cursor: move;
        }
    }
}

.vkl-sortable-oppimaarat {
    margin: 5px;
}

.placeholder-vklsort {
    height: 30px;
    margin: 3px;
    padding: 5px;
    border: 2px solid $brand-primary;
}

.vuosiluokka {
    h2 {
        margin-bottom: 40px;
    }
    .vl-tabit {
        font-size: 110%;
        float: left;
        border-bottom: none;
        li a {
            border-top-color: #ccc;
            border-right-color: #ccc;
            border-left-color: #ccc;
            border-bottom-color: #ccc;
            padding: 10px 25px;
            cursor: pointer;
            background: white;
            &:hover {
                border-color: #ccc;
            }
        }
        li.active {
            a {
                border-top-color: #ccc;
                border-right-color: #ccc;
                border-left-color: #ccc;
                border-bottom: 1px solid $active-tab-bg;
                box-shadow: none;
                background: $active-tab-bg;
                cursor: default;
                &:hover,
                *:hover {
                    text-decoration: none;
                }
            }
        }
    }
    .content {
        padding-top: 41px;
    }
    .tab-content-container {
        background: $active-tab-bg;
        border: 1px solid #ccc;
        padding: 10px;
    }

    .tavoite {
        background-color: white;
        position: relative;
        border: $tavoite-border;

        .vapaateksti {
            font-size: 130%;
            padding: 10px;
        }

        .header {
            font-size: 130%;
            position: relative;
            .clearer {
                clear: right;
            }
            .toggle-nimi {
                padding: 10px;
                max-width: 75%;
                position: relative;
                height: 100%;
            }
            .toggle {
                position: absolute;
                left: 10px;
            }
            .nimi-otsikko {
                font-weight: bolder;
            }
            .nimi {
                margin-left: 25px;
                display: inline-block;
            }
            .kohdealue {
                display: block;
                border-left: $tavoite-border;
                border-bottom: $tavoite-border;
                margin-bottom: -1px;
                padding: 10px 5px 5px 7px;
                height: 100%;
                color: #777;
                float: right;
                max-width: 25%;
                font-size: 13px;
                text-align: right;
            }
            &.kohdealueeton {
                .toggle-nimi {
                    max-width: 100%;
                }
                .kohdealue {
                    display: none;
                }
            }
        }
        &.add-tavoite {
            border-color: $active-tab-bg;
            background-color: $active-tab-bg;
        }

        .arviointi {
            margin-top: 20px;
            .kriteerit {
                width: 97%;
                margin-left: auto;
                margin-right: auto;
                background-color: white;
            }
        }

        .ops-body {
            padding: 10px;
            padding-bottom: 26px;
            border-top: $tavoite-border;
        }
    }
    .tavoite + .tavoite {
        margin-top: 20px;
    }
}

.popover {
    max-width: 400px;
}

.everclear-fix {
    .row:after {
        clear: right;
    }
}

.tavoite {
    .peruste-body {
        padding: 10px;
        border-top: $tavoite-border;
        background-color: $peruste-color;
        background-repeat: no-repeat;
        background-size: $ohje-ikoni-size;
        background-position: 15px 15px;
        min-height: $ohje-ikoni-size;
        .listat {
            padding-left: $ohje-ikoni-size;
            .lista {
                float: left;
                width: 50%;
                padding-left: 20px;
            }
            overflow: auto;
        }
        .peruste-wrapper {
            padding-left: $ohje-ikoni-size + 25px;
        }
    }
}
