$vl-container-width: 255px;

.vuosiluokkaistaminen-header {
  position: relative;
  max-width: 500px;
  .buttons {
    position: absolute;
    right: 0;
    top: 0;
    .btn {
      padding: 10px 16px;
    }
  }
  label + label {
    margin-left: 20px;
  }
}

@media (max-width: 800px) {
  .vuosiluokkaistaminen-header {
    max-width: 300px;
    .buttons {
      margin-top: 10px;
      position: relative;
    }
  }
}

.vuosiluokkaistaminen-container-outer {
  position: relative;
  width: 100%;
  margin-bottom: 300px;
}

.inline-toggle-link {
  font-size: 13px;
  font-weight: normal;
  margin-left: 10px;
  &.badge {
    font-weight: 700;
  }
}

.vuosiluokkaistaminen-container {
  margin-right: $vl-container-width;
  margin-top: 40px;
  margin-left: 10px;

  .koodi {
    font-weight: 700;
  }
  .kohdealue {
    display: block;
    font-weight: 700;
    font-size: 80%;
    width: 50%;
    float: right;
    padding: 3px;
    margin-left: 2px;
    margin-right: -2px;
    margin-top: -2px;
  }
  .panel-body {
    padding: 5px 5px 15px 5px;
    background-color: lighten($brand-primary, 70%);
  }
  .panel-default {
    border-color: #777;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.3);
  }

  .vuosiluokka {
    float: left;
    width: $vl-container-width;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .tavoitteet {
    float: none;
    position: absolute;
    right: 0;
    top: -70px;

    .panel-heading {
      background-color: $brand-primary;
      color: white;
    }
  }

  .all-done {
    margin-left: 5px;
    color: #0e0;
  }

  .container-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-height: 200px;

    &.tavoite-list {
      font-style: italic;
      .not-used {
        background-color: white;
        color: black;
        font-style: normal;
      }
    }
    &.vuosiluokka-list {
      .container-item {
        background-color: white;
      }
    }

    .container-item {
      background-color: lighten(#3a8fbe, 30%);
      border: 1px solid #777;
      box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.3);
      padding: 5px;
      cursor: move;

      &.collapsed-mode {
        padding: 2px;
        height: 24px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        .kohdealue {
          display: none;
        }
      }

      &:not(:first-child) {
        margin-top: 5px;
      }

      &.placeholder {
        height: 20px;
        border: 2px solid $brand-primary;
      }
    }

    &.empty {
      border: 2px dashed #777;
      .placeholder {
        margin: 5px;
      }
    }
  }
}
