.vuosiluokkakokonaisuus {
  h2 {
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 7px;
    background-color: $ops-header-background;
  }
}

.vuosiluokka {
  h2 {
    margin-bottom: 40px;
  }
  .vl-tabit {
    font-size: 110%;
    float: left;
    border-bottom: none;
    li a {
      padding: 10px 25px;
      cursor: pointer;
    }
    li.active {
      a {
        border-bottom: none;
        background: white;
        cursor: default;
        &:hover, *:hover {
          text-decoration: none;
        }
      }
    }
  }
  .content {
    padding-top: 60px;
  }

  $tavoite-border: 1px solid #ccc;

  .tavoite {
    position: relative;
    border: $tavoite-border;
    .header {
      font-size: 130%;
      position: relative;
      .clearer {
        clear: right;
      }
      .toggle-nimi {
        padding: 10px;
        max-width: 75%;
        position: relative;
        height: 100%;
      }
      .toggle {
        position: absolute;
        left: 10px;
      }
      .nimi {
        margin-left: 25px;
        display: inline-block;
      }
      .kohdealue {
        display: block;
        border-left: $tavoite-border;
        border-bottom: $tavoite-border;
        margin-bottom: -1px;
        padding: 10px 5px 5px 7px;
        height: 100%;
        color: #777;
        float: right;
        max-width: 25%;
        font-size: 13px;
        text-align: right;
      }
      &.kohdealueeton {
        .toggle-nimi {
          max-width: 100%;
        }
        .kohdealue {
          display: none;
        }
      }

    }

    .peruste-body {
      padding: 10px;
      border-top: $tavoite-border;
      background-color: $peruste-color;
      background-repeat: no-repeat;
      background-size: $ohje-ikoni-size;
      background-position: 15px 15px;
      min-height: $ohje-ikoni-size;
      .listat {
        padding-left: $ohje-ikoni-size;
        .lista {
          float: left;
          width: 50%;
          padding-left: 20px;
        }
        overflow: auto;
      }
      .peruste-wrapper {
        padding-left: $ohje-ikoni-size + 25px;
      }
    }

    .arviointi {
      margin-top: 20px;
      .kriteerit {
        width: 97%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
      }
    }

    .ops-body {
      padding: 10px;
      border-top: $tavoite-border;
    }

  }
  .tavoite + .tavoite {
    margin-top: 20px;
  }
}

.popover {
  max-width: 400px;
}
