/* normalisoi ie10+:n scrollbar */
html {
  -ms-overflow-style: scrollbar;
}

a:hover {
  cursor: pointer;
}

/* ikoni + linkkiteksti */
.iconlink > .glyphicon {
  margin-right: 5px;
}

/* animointia varten */
.ng-hide-add, .ng-hide-remove {
  display: block !important;
}

.action-link {
  outline: 0;
  cursor: pointer;
  &:hover {
    outline: 0;
  }
  &:active, &:focus {
    outline: 0;
    text-decoration: none;
    color: $brand-primary;
  }
}

input.form-control::-ms-clear {
  display: none;
}

button.icon-only {
  .glyphicon {
    margin: 0;
  }
}
