/* normalisoi ie10+:n scrollbar */
html {
    -ms-overflow-style: scrollbar;
}

.checkbox-label {
    input[type="checkbox"] {
        margin-top: -8px;
    }
    label {
        // margin-top: -5px;
    }
}

a:hover {
    cursor: pointer;
}

/* ikoni + linkkiteksti */
.iconlink > .glyphicon {
    margin-right: 5px;
}
*[icon-role] .glyphicon {
    margin-right: 5px;
}
button {
    .glyphicon {
        margin-right: 5px;
    }
    img {
        margin-right: 5px;
    }
}

.collapse-toggler {
    cursor: pointer;
    margin-right: 5px;
    color: $brand-primary;
}

abbr[data-viite] {
    border-bottom-width: 0;
}

/* animointia varten */
.ng-hide-add,
.ng-hide-remove {
    display: block !important;
}

.button-link {
    background: none !important;
    border: none;
    padding: 0;
    margin: 0;
    color: $brand-primary;
    cursor: pointer;
}

.action-link {
    outline: 0;
    cursor: pointer;
    &:hover {
        outline: 0;
    }
    &:active,
    &:focus {
        outline: 0;
        text-decoration: none;
        color: $brand-primary;
    }
}

input.form-control::-ms-clear {
    display: none;
}

button.icon-only {
    .glyphicon {
        margin: 0;
    }
}

.header-links {
    float: right;
    margin-left: 10px;
}

.kielenvaihto {
    margin-right: 5px;
    list-style-type: none;
    li {
        display: inline;
    }
}

.modalkielenvaihto {
    font-size: 110%;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.kieli-dropdown {
    position: relative;
    margin-right: 10px;
}

.ylops-footer {
    min-height: 1px;
    margin-top: 80px;
    .version-info {
        color: #999;
        font-size: 10px;
        text-align: center;
    }
}

$backtotop-size: 48px;
#backtotop {
    &.ng-hide-add,
    &.ng-hide-remove {
        transition: 0.2s linear all;
    }
    &.ng-hide-add.ng-hide-add-active,
    &.ng-hide-remove {
        opacity: 0;
    }
    &.ng-hide-add,
    &.ng-hide-remove.ng-hide-remove-active {
        opacity: 1;
    }
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    a {
        .glyphicon {
            margin-right: 2px;
        }
        display: block;
        text-align: center;
        border: 2px solid rgba(0, 0, 0, 0.8);
        border-radius: 5px;
        font-size: $backtotop-size*0.6;
        line-height: $backtotop-size;
        width: $backtotop-size;
        height: $backtotop-size;
        &:hover,
        &:focus,
        &:active,
        & *:hover,
        & *:focus,
        & *:active {
            text-decoration: none;
        }
    }
}

.action-buttons {
    margin-top: 20px;
    margin-bottom: 20px;
}

.action-buttons-inline {
    float: right;
    margin-left: 5px;
}

.panel-title,
h3,
h4 {
    .action-buttons-inline {
        margin-top: -5px;
    }
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.list-group-horizontal {
    margin-bottom: 0;
    .list-group-item {
        display: inline-block;
        margin-bottom: 0;
        &:not(:first-child) {
            margin-left: -5px;
        }
        margin-right: 0;
        border-radius: 0;
    }
}

label {
    input[type="radio"],
    input[type="checkbox"] {
        top: 0;
        margin-right: 5px;
    }
}

a,
a:focus {
    outline: 0;
}

.has-placeholder.cke_editable,
.has-placeholder span.tekstikentta {
    font-style: italic;
    color: #aaa;
}

.title-addon {
    color: #999;
    margin-bottom: 20px;
}

.panel-body {
    .panel-title {
        font-size: 150%;
    }
}

.panel-collapsed-body {
    margin-top: 20px;
}

.panel-body {
    .formfield-label > label {
        font-size: 110%;
    }
}

.form-short {
    display: inline-block;
    width: 8em;
    margin-right: 10px;
}

.pagination-page-info {
    color: #999;
    margin-bottom: -5px;
}

.admin-rajaus {
    height: 32px;
    .admin-rajaus-rajaus {
        float: left;
        min-width: 18em;
        max-width: 32em;
    }
    .admin-tila-rajaus {
        margin-left: 20px;
        label {
            padding-top: 7px;
        }
        #admin-tilarajaus {
            float: right;
            width: 75%;
        }
        float: left;
        max-width: 30em;
    }
    margin-bottom: 10px;
}

.muokattu-aika {
    font-size: x-small;
    color: #777;
    padding-right: 5px;
}

.eperusteet-otsikko {
    margin: 0 0 15px 0;
}

.nav.nav-tabs {
    li > a {
        background: #f1f9fc;
    }
    li > a:hover {
        cursor: pointer;
    }

    li.active > a {
        background: #fff;
    }
}

.rajaus-clear:hover {
    cursor: pointer;
}

.new-halo {
    box-shadow: 0px 0px 5px #99ff99;
}

.search-halo {
    box-shadow: 0px 0px 5px #eeeb99;
}

hr.mujuviiva {
    border: 0px none;
    color: #ddd;
    height: 1px;
    background: none repeat scroll 0% 0% #ddd;
}

.truncate {
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#loading-bar-container {
  position: relative;
  z-index: 1001;
}

#loading-bar > .bar {
  position: absolute;
}

#loading-bar-spinner {
  position: absolute;
}

#raamit-header {
  margin-bottom: 0 !important;
}
