<h1 ng-bind-html="tekstikappale.nimi | kaanna | unsafe"></h1>
<div class="tekstiosan-teksti" ng-bind-html="tekstikappale.teksti | kaanna | kuvalinkit | unsafe"></div>

<div ng-repeat="lapsi in tekstikappaleViite.lapset">
  <ep-tekstiotsikko model="lapsi" level="2"></ep-tekstiotsikko>
  <div class="tekstiosan-teksti" ng-bind-html="lapsi.tekstiKappale.teksti | kaanna | kuvalinkit | unsafe"></div>

  <div ng-repeat="alilapsi in lapsi.lapset">
    <ep-tekstiotsikko model="alilapsi" level="3"></ep-tekstiotsikko>
    <div class="tekstiosan-teksti" ng-bind-html="alilapsi.tekstiKappale.teksti | kaanna | kuvalinkit | unsafe"></div>

    <div ng-repeat="ali2lapsi in alilapsi.lapset">
      <ep-tekstiotsikko model="ali2lapsi" level="4"></ep-tekstiotsikko>
      <div class="tekstiosan-teksti" ng-bind-html="ali2lapsi.tekstiKappale.teksti | kaanna | kuvalinkit | unsafe"></div>

      <div ng-repeat="ali3lapsi in ali2lapsi.lapset">
        <ep-tekstiotsikko model="ali3lapsi" level="5"></ep-tekstiotsikko>
        <div class="tekstiosan-teksti" ng-bind-html="ali3lapsi.tekstiKappale.teksti | kaanna | kuvalinkit | unsafe"></div>

        <div ng-repeat="ali4lapsi in ali3lapsi.lapset">
          <ep-tekstiotsikko model="ali4lapsi" level="5"></ep-tekstiotsikko>
          <div class="tekstiosan-teksti" ng-bind-html="ali4lapsi.tekstiKappale.teksti | kaanna | kuvalinkit | unsafe"></div>
        </div>
      </div>
    </div>
  </div>

</div>
