<div class="modal-header">
  <h2 kaanna="'ops-alihierarkia-muokkaus'"></h2>
</div>

<div class="modal-body">
  <div class="alert alert-info" ng-show="aliOpsit.length === 0">
    <span kaanna="'opsilla-ei-aliopseja'"></span>
  </div>
  <div class="alihierarkia" ng-show="aliOpsit.length !== 0">
    <div class="muokkauspainikkeet">
      <button icon-role="refresh" class="btn btn-default" kaanna="'paivita-rakenne'"
              ng-click="paivitaRakenne()" tooltip="{{ 'paivita-rakenne-ohje' | kaanna }}"></button>
    </div>
    <div>
      <table class="table table-striped">
        <tr>
          <th kaanna="'nimi'"></th>
          <th kaanna="'tila'"></th>
        </tr>
        <tr ng-repeat="aliops in aliOpsit">
          <td kaanna="aliops.nimi"></td>
          <td kaanna="aliops.tila"></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()" kaanna="'ok'"></button>
</div>
