<div class="modal-header">
  <h2 ng-bind="'lisaa-oppimaara-' + $type | kaanna"></h2>
  <div class="pull-right">
    <kielenvaihto modal="true"></kielenvaihto>
  </div>
  <div class="clearfix"></div>
</div>

<div class="modal-body">
  <div class="kielitarjonta-modal">
    <div class="row kieli-field">
      <div class="row">
        <div class="col-xs-4"><h4 kaanna="oppiaine.nimi"></h4></div>
        <div class="col-xs-8">
          <div ng-repeat="valittu in $valitut | orderBy:(valittu.nimi | kaanna)">
            <h5>{{ valittu.nimi | kaanna }} <a class="pull-right" ng-click="poista(valittu)" icon-role="remove"></a></h5>
          </div>
          <div ng-show="$vaihtoehdot.length !== 0">
            <select class="form-control" ng-model="$valittu" ng-change="valitse($valittu)"
                    ng-options="(om.nimi || 'muu-uskonto' | kaanna) for om in $kaikki track by om.id"></select>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="$type === 'kieli' && $valittu.nimi">
      <termistoteksti teksti="$valittu.tehtava.teksti"></termistoteksti>
      <div class="row" ng-show="$onAbstrakti">
        <div class="col-xs-4"><h4 kaanna="'pohja'"></h4></div>
        <div class="col-xs-8">
          <select class="form-control" ng-model="$valittu.$concrete"
                  ng-options="(om.nimi | kaanna) for om in $concretet track by om.id"></select>
        </div>
      </div>
    </div>

    <div class="row" ng-show="($valittu.nimi && $type === 'kieli') || ($valittu.nimi === undefined && $type === 'uskonto')">
      <div class="col-xs-4"><h4 kaanna="'nimi'"></h4></div>
      <div class="col-xs-8">
        <input type="text" class="form-control" ng-model="$omaNimi" slocalized>
      </div>
    </div>

  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()" ng-disabled="($type === 'kieli' && !$valittu.$concrete) || !($omaNimi | kaanna)" kaanna="'ok'"></button>
  <button class="btn btn-default" ng-click="peruuta()" kaanna="'peruuta'"></button>
</div>
