<div class="modal-header">
    <h3 class="modal-title" kaanna="'liita-kurssi-oppiaineeseen'"></h3>
</div>

<div class="modal-body">

    <h4 kaanna="'lukio-liitamattomat-kurssit'"></h4>

    <rajaus size="small" model="liittamattomatHaku"
            callback="liittamattomatHae()" placeholder="{{ 'lukio-etsi-liittamattomista-kursseista' || kaanna }}"></rajaus>

    <br>

    <div class="lukio-tree">
        <div ng-repeat="kurssi in liittamattomatKurssit" ng-hide="kurssi.$$hide">
            <div class="node kurssi-tausta">
                <div class="colorbox kurssi-tyyppi" ng-class="kurssi.$$tyyppi"></div>
                <a class="name" ng-show="kurssi.dtype === 2"
                   ui-sref="root.opetussuunnitelmat.lukio.opetus.oppiaine({ id: stateParams.id, oppiaineId: kurssi.id })">
                    <span class="oppiaine">
                        {{kurssi.nimi | kaanna}}
                    </span>
                </a>
                <a class="name" ng-show="kurssi.dtype === 1"
                   ui-sref="root.opetussuunnitelmat.lukio.opetus.kurssi({ id: stateParams.id, oppiaineId: kurssi.$$nodeParent.id, kurssiId: kurssi.id })">
                    <span ng-show="kurssi.lokalisoituKoodi" class="kurssi">
                        {{kurssi.nimi | kaanna}} ({{kurssi.lokalisoituKoodi | kaanna}})
                    </span>
                    <span ng-show="!kurssi.lokalisoituKoodi" class="kurssi">
                        {{kurssi.nimi | kaanna}}
                    </span>
                </a>
                <a ng-click="lisaaKurssi(kurssi)" role="button" class="action-button-right" ng-hide="kurssi.$$lisatty">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
            </div>
        </div>
    </div>

    <br>

    <h4 kaanna="'lukio-liitetyt-kurssit'"></h4>

    <rajaus size="small" model="liitetytHaku"
            callback="liitetytHae()" placeholder="{{ 'lukio-etsi-liitetyista-kursseista' || kaanna }}"></rajaus>

    <br>

    <div class="lukio-tree">
        <div ng-repeat="kurssi in liitetytKurssit" ng-hide="kurssi.$$hide">
            <div class="node kurssi-tausta">
                <div ng-show="kurssi.dtype === 1" class="colorbox kurssi-tyyppi" ng-class="kurssi.tyyppi.toLowerCase()"></div>
                <a class="name" ng-show="kurssi.dtype === 2"
                   ui-sref="root.opetussuunnitelmat.lukio.opetus.oppiaine({ id: stateParams.id, oppiaineId: kurssi.id })">
                    <span class="oppiaine">
                        {{kurssi.nimi | kaanna}}
                    </span>
                </a>
                <a class="name" ng-show="kurssi.dtype === 1"
                   ui-sref="root.opetussuunnitelmat.lukio.opetus.kurssi({ id: stateParams.id, oppiaineId: kurssi.$$nodeParent.id, kurssiId: kurssi.id })">
                    <span ng-show="kurssi.lokalisoituKoodi" class="kurssi">
                        {{kurssi.nimi | kaanna}} ({{kurssi.lokalisoituKoodi | kaanna}})
                    </span>
                    <span ng-show="!kurssi.lokalisoituKoodi" class="kurssi">
                        {{kurssi.nimi | kaanna}}
                    </span>
                </a>
                <a ng-click="lisaaKurssi(kurssi)" role="button" class="action-button-right" ng-hide="kurssi.$$lisatty">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
                <a ng-click="poistaKurssi(kurssi)" role="button" class="action-button-right" ng-show="kurssi.$$lisatty">
                    <i class="glyphicon glyphicon-ok"></i>
                </a>
            </div>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-danger" ng-click="$dismiss()" kaanna="'peruuta'"></button>
    <button class="btn btn-default" ng-click="lisaa()" kaanna="'lisaa'"></button>
</div>
