<div class="modal-header">
  <h2 ng-bind="'validointi' | kaanna"></h2>
</div>

<div class="modal-body validointi">

  <div class="onnistunut" ng-if="eiVirheita">
    <h2 kaanna="'validointi-ei-virheita'"></h2>
    <div class="peukku" icon-role="thumbs-up"></div>
  </div>

  <div class="panel panel-danger" ng-if="virheet.length > 0">
    <div class="panel-heading">
      <h2 class="panel-title" kaanna="'validointi-virheet'"></h2>
    </div>
    <div>
      <table class="table">
        <tr>
          <th kaanna="'nimi'"></th>
          <th kaanna="'syy'"></th>
        </tr>
        <tr ng-repeat="virhe in virheet">
          <td kaanna="virhe.nimi"></td>
          <td kaanna="virhe.syy"></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="panel panel-warning" ng-if="varoitukset.length > 0">
    <div class="panel-heading">
      <h2 class="panel-title" kaanna="'validointi-varoitukset'"></h2>
    </div>
    <div>
      <table class="table">
        <tr>
          <th kaanna="'nimi'"></th>
          <th kaanna="'syy'"></th>
        </tr>
        <tr ng-repeat="virhe in varoitukset">
          <td kaanna="virhe.nimi"></td>
          <td kaanna="virhe.syy"></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="panel panel-info" ng-if="huomiot.length > 0">
    <div class="panel-heading">
      <h2 class="panel-title" kaanna="'validointi-huomautukset'"></h2>
    </div>
    <div>
      <table class="table">
        <tr>
          <th kaanna="'nimi'"></th>
          <th kaanna="'syy'"></th>
        </tr>
        <tr ng-repeat="virhe in huomiot">
          <td kaanna="virhe.nimi"></td>
          <td kaanna="virhe.syy"></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<div class="modal-footer">
  <button class="btn btn-default" ng-click="ok()" kaanna="'ok'"></button>
</div>
