<div class="dokumentti">
  <div class="row">
    <div class="col-xs-12">
      <h2 ng-bind="'lisaasetukset' | kaanna"></h2>
      <form class="form-horizontal">

        <div class="form-group">
          <label class="col-xs-2">{{'kansilehti' | kaanna}}:</span></label>
          <div class="col-xs-10">
            <div>
              <div ng-hide="kansikuvaUploader.queue.length !== 0">
                <p ng-if="dokumentti.kansikuva">
                  <img class="img-responsive" ng-src="{{kuva.kansikuva}}"/>
                </p>
                <span class="btn btn-danger" ng-click="poistaKuva('kansikuva')" ng-if="dokumentti.kansikuva">
                  <span kaanna="poista"></span>
                </span>
                <span class="btn btn-default btn-file">
                  <span ng-bind="'lisaa-kuva' | kaanna"></span>
                  <input type="file" nv-file-select="" nv-file-drop="" uploader="kansikuvaUploader"/>
                </span>
              </div>
              <div ng-repeat="item in kansikuvaUploader.queue">
                <p ng-bind="item.file.name"></p>
                <button class="btn btn-default" type="button" ng-click="item.remove()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">{{'peruuta' | kaanna}}</button>
                <button class="btn btn-success" type="button" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">{{'laheta' | kaanna}}</button>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
