<div class="esikatselu">
<h1 kaanna="'esikatselu'"></h1>

<div class="row">
  <div class="col-md-4">
    <ul>
      <li ng-repeat="item in texttree | filter:{depth: 0}">
        <a ng-href="{{item.url}}" kaanna="item.label" ng-style="{'padding-left': item.depth*10}"></a>
      </li>
    </ul>
  </div>

  <div class="col-md-4">
    <ul>
      <li ng-repeat="vlk in vuosiluokkakokonaisuudet">
        <a ui-sref="root.opetussuunnitelmat.yksi.esikatselu.vuosiluokkakokonaisuus({vlkId: vlk.vuosiluokkakokonaisuus.id})"
           kaanna="vlk.vuosiluokkakokonaisuus.nimi"></a>
      </li>
    </ul>
  </div>

  <div class="col-md-4">
    <ul>
      <li ng-repeat="oppiaine in model.oppiaineet | orderBy:oppiaineSort">
        <a ui-sref="root.opetussuunnitelmat.yksi.esikatselu.oppiaine({oppiaineId: oppiaine.oppiaine.id, oppiaineTyyppi: oppiaine.oppiaine.tyyppi})"
           kaanna="oppiaine.oppiaine.nimi"></a>
      </li>
    </ul>
  </div>
</div>


<div ui-view></div>
</div>
