
<div class="action-buttons">
  <button ng-hide="editMode || rakenneEdit" class="btn btn-default" kaanna="'poista'" icon-role="remove" ng-click="delete()"></button>
</div>

<h3 kaanna="'tekstikappaleet'"></h3>
<p ng-show="!model.tekstit.lapset || model.tekstit.lapset.length === 0" kaanna="'ei-tekstikappaleita'"></p>
<button ng-hide="rakenneEdit" class="btn btn-default" kaanna="'luo-uusi-tekstikappale'" icon-role="add" ng-click="addTekstikappale()"></button>

<button ng-show="rakenneEdit" class="btn btn-default" kaanna="'peru-rakenne'" ng-click="cancelRakenne()"></button>
<button ng-show="rakenneEdit" class="btn btn-primary" kaanna="'tallenna-rakenne'" ng-click="saveRakenne()"></button>

<button ng-hide="rakenneEdit || !model.tekstit.lapset || model.tekstit.lapset.length === 0"
        class="btn btn-default" kaanna="'muokkaa-rakennetta'" ng-click="editRakenne()"></button>

<div ng-show="model.tekstit.lapset.length > 0" ui-tree class="tekstikappaleet" data-empty-place-holder-enabled="true" data-drag-enabled="rakenneEdit">
  <ul ui-tree-nodes ng-model="model.tekstit.lapset">
    <li ng-repeat="kappale in model.tekstit.lapset" ui-tree-node ng-include="'views/opetussuunnitelmat/treenode.html'"></li>
  </ul>
</div>
