<ops-header model="model"></ops-header>

<div class="navigaatio-content-plain">

  <div class="tabitus">
    <ul ng-if="!luonnissa" class="nav nav-tabs">
      <li ui-sref-active="active">
        <a ui-sref="root.opetussuunnitelmat.yksi.sisalto" kaanna="isLukio ? 'yleiset-osuudet' : 'yhteiset-osuudet'"></a>
      </li>
      <li ng-show="isLukio" ui-sref-active="active">
        <a ui-sref="root.opetussuunnitelmat.lukio.opetus" kaanna="'lukio-tavoitteet-ja-sisallot'"></a>
      </li>
      <li ng-show="model.koulutustyyppi === 'koulutustyyppi_16'" ui-sref-active="active">
        <a ui-sref="root.opetussuunnitelmat.yksi.opetus" kaanna="'vuosiluokat-ja-oppiaineet'"></a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="root.opetussuunnitelmat.yksi.tiedot" kaanna="'opsn-tiedot'"></a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="root.opetussuunnitelmat.yksi.poistetut" kaanna="'opsn-poistetut'"></a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="root.opetussuunnitelmat.yksi.kasitteet" kaanna="'kasitteet'"></a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="root.opetussuunnitelmat.yksi.dokumentti" kaanna="'dokumentti'"></a>
      </li>
    </ul>
  </div>

  <div class="base-navigaatio">
    <div ui-view></div>
  </div>
</div>
