<h1 ng-bind="model.nimi | kaanna"></h1>

<div class="action-buttons">
  <button ng-hide="editMode" class="btn btn-default" kaanna="'muokkaa'" icon-role="edit" ng-click="edit()"></button>
  <button ng-hide="editMode" class="btn btn-default" kaanna="'poista'" icon-role="remove" ng-click="delete()"></button>
</div>

<div ng-if="!editMode">
  <h3 kaanna="'kuvaus'"></h3>
  <div ng-bind-html="model.kuvaus | kaanna | unsafe"></div>
  <h3 kaanna="'tekstikappaleet'"></h3>
  <p ng-show="!model.tekstit.lapset || model.tekstit.lapset.length === 0" kaanna="'ei-tekstikappaleita'"></p>
  <button class="btn btn-default" kaanna="'luo-uusi-tekstikappale'" icon-role="add" ng-click="addTekstikappale()"></button>

  <!-- TODO: puurakenne -->
  <ul>
    <li ng-repeat="kappale in model.tekstit.lapset">
      <a ui-sref="root.opetussuunnitelmat.yksi.tekstikappale({tekstikappaleId: kappale.id})" ng-bind="kappale.tekstiKappale.nimi || 'nimeton' | kaanna"></a>
    </li>
  </ul>

</div>

<div ng-if="editMode">
  <h3 kaanna="'nimi'"></h3>
  <input ng-model="model.nimi" slocalized class="form-control">
  <h3 kaanna="'kuvaus'"></h3>
  <div ckeditor ng-model="model.kuvaus" slocalized></div>
</div>
