<div class="row" ng-show="model.$resolved">
  <div ng-if="model.koulutustyyppi === 'koulutustyyppi_16'" class="col-md-8 col-sm-6">
    <div>
      <h2>
        <span kaanna="'tekstikappaleet'"></span>
        <span class="pull-right">
          <button icon-role="add" class="btn btn-default" kaanna="'lisaa-tekstikappale'" ng-click="lisaaTekstikappale()"></button>
          <span ng-hide="$$isRakenneMuokkaus">
            <button icon-role="sort" class="btn btn-default" ng-click="muokkaaRakennetta()"></button>
          </span>
        </span>
      </h2>
    </div>
    <div class="tekstisisalto">
        <generic-tree ui-sortable-config="sortableConfig" tree-provider="tekstitProvider"></generic-tree>
    </div>
  </div>

  <div ng-if="model.koulutustyyppi === 'koulutustyyppi_16'" class="col-md-4 col-sm-6">
    <div class="list-group">
      <div class="list-group-item list-group-header">
        <a kaanna="'vuosiluokat-ja-oppiaineet'" ui-sref="root.opetussuunnitelmat.yksi.sisaltoalue({alueId: 'vuosiluokat'})"></a>
      </div>
      <div ng-repeat="item in vuosiluokkakokonaisuudet" class="list-group-item">
        <a ng-bind="item.vuosiluokkakokonaisuus.nimi | kaanna"
          ui-sref="root.opetussuunnitelmat.yksi.vuosiluokkakokonaisuus({vlkId: item.vuosiluokkakokonaisuus.id})"></a>
        <a class="pull-right" href="" icon-role="sort"
           ui-sref="root.opetussuunnitelmat.yksi.vuosiluokkakokonaisuussort({vlkId: item.vuosiluokkakokonaisuus.id})"></a>
      </div>
    </div>
  </div>
</div>
