<div class="row" ng-show="model.$resolved">
  <div class="col-md-4 col-sm-6" ng-repeat="osio in model.tekstit.lapset">
    <div class="list-group">
      <a class="list-group-item list-group-header" ng-bind="osio.tekstiKappale.nimi | kaanna"
         ui-sref="root.opetussuunnitelmat.yksi.sisaltoalue({alueId: osio.id})"></a>
      <a class="list-group-item" ng-repeat="item in osio.lapset" ng-bind="item.tekstiKappale.nimi | kaanna"
         ui-sref="root.opetussuunnitelmat.yksi.tekstikappale({tekstikappaleId: item.id})"></a>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="list-group">
      <a class="list-group-item list-group-header" kaanna="'vuosiluokat-ja-oppiaineet'"
         ui-sref="root.opetussuunnitelmat.yksi.sisaltoalue({alueId: 'vuosiluokat'})"></a>
      <a class="list-group-item" ng-repeat="item in vuosiluokat" ng-bind="item.nimi | kaanna"
         ui-sref="root.opetussuunnitelmat.yksi.vuosiluokkakokonaisuus({vlkId: item.id})"></a>
    </div>
  </div>
</div>
