<table class="table table-hover">
  <tr>
    <th kaanna="'nimi'"></th>
    <th kaanna="'tila'"></th>
    <th kaanna="'muokattu-viimeksi'"></th>
  </tr>
  <tr ng-if="!items.$resolved"><td colspan="3"><small-spinner></small-spinner></td></tr>
  <tr ng-if="items.$resolved" ng-repeat="item in items | orderBy:'-muokattu'">
    <td>
      <a ui-sref="root.opetussuunnitelmat.yksi.sisalto({id: item.id})" ng-bind="item.nimi | kaanna"></a>
    </td>
    <td><span ng-bind="item.tila | kaanna"></span></td>
    <td><span ng-bind="item.muokattu | aikaleima"></span></td>
  </tr>
</table>
