<h2 class="tekstikappale-title">
  <span ng-if="editMode && canRemove()">
    <input ng-model="model.tekstiKappale.nimi" slocalized class="form-control" placeholder="{{'kappaleen-otsikko'|kaanna}}">
  </span>
  <span ng-if="!editMode || !canRemove()" ng-bind="model.tekstiKappale.nimi | kaanna"></span>
  <span ng-if="model.tekstiKappale.nimi.$$validointi && model.pakollinen">
    <span class="tekstikappale-error-badge" ng-repeat="virhe in model.tekstiKappale.nimi.$$validointi"
        kaanna="virhe" tooltip="{{ virhe + '-kuvaus' | kaanna }}"></span>
  </span>
  <span ng-show="model.pakollinen" class="pull-right badge inline-toggle-link" kaanna="'pakollinen'"></span>
</h2>

<div ng-if="ohje.teksti" class="ohje-wrapper">
  <h4><span kaanna="'ohjeistus'"></span></h4>
  <div class="tekstiosa-wrapper">
    <div class="tekstiosa single perusteen-teksti">
      <a class="toggle-perusteen-teksti" ng-click="options.ohjeistusCollapsed = !options.ohjeistusCollapsed">
        <span class="glyphicon" ng-class="{'glyphicon-chevron-down': !options.ohjeistusCollapsed, 'glyphicon-chevron-right': options.ohjeistusCollapsed}"></span>
        <span ng-bind="options.ohjeistusCollapsed && 'nayta' || 'piilota' | kaanna"></span>
      </a>
      <div class="ohjeellinen ikoni-ohjeistus ikoni-ohjeistus-pd" ng-hide="!options.ohjeistusCollapsed">
        <div class="teksti" ng-bind-html="ohje.teksti | kaanna | unsafe"></div>
      </div>
    </div>
  </div>
</div>

<div ng-if="perusteteksti.teksti" class="ohje-wrapper">
  <h4><span kaanna="'perusteen-teksti'"></span></h4>
  <div class="tekstiosa-wrapper">
    <div class="tekstiosa single perusteen-teksti">
      <a class="toggle-perusteen-teksti" ng-click="options.perusteentekstiCollapsed = !options.perusteentekstiCollapsed">
        <span class="glyphicon" ng-class="{'glyphicon-chevron-down': !options.perusteentekstiCollapsed, 'glyphicon-chevron-right': options.perusteentekstiCollapsed}"></span>
        <span ng-bind="options.perusteentekstiCollapsed && 'nayta' || 'piilota' | kaanna"></span>
      </a>
      <div class="ohjeellinen ikoni-peruste ikoni-ohjeistus-pd" ng-hide="!options.perusteentekstiCollapsed">
        <div class="teksti" ng-bind-html="perusteteksti.teksti | kaanna | unsafe"></div>
      </div>
    </div>
  </div>
</div>

<div class="panel-clear-fix tekstiosa single">
  <div class="action-buttons-inline" ng-if="isEditable()" ng-hide="editMode">
    <lukko ng-if="lukkotiedot.lukittu" tip="lukkotiedot.tip"></lukko>
    <button ng-disabled="lukkotiedot.lukittu" ng-show="canRemove() && (!model.lapset || model.lapset.length === 0) && !model.pakollinen"
            class="btn btn-default" kaanna="'poista'" icon-role="remove" ng-click="remove()"
            oikeustarkastelu="{ target: 'opetussuunnitelma', permission: 'muokkaus' }"></button>
    <button class="btn btn-default" kaanna="'lisaa-aliotsikko'" icon-role="add" ng-click="addChild()" oikeustarkastelu="{ target: 'opetussuunnitelma', permission: 'muokkaus' }"></button>
    <button ng-if="model.omistussuhde === 'oma'" ng-disabled="lukkotiedot.lukittu" class="btn btn-default" kaanna="'muokkaa'" icon-role="edit" ng-click="edit()" oikeustarkastelu="{ target: 'opetussuunnitelma', permission: 'muokkaus' }"></button>
    <button ng-if="model.omistussuhde === 'lainattu'" ng-disabled="lukkotiedot.lukittu" class="btn btn-default" kaanna="'kopioi-muokattavaksi'" icon-role="ep-text-clone" ng-click="kopioiMuokattavaksi()" oikeustarkastelu="{ target: 'opetussuunnitelma', permission: 'muokkaus' }"></button>
  </div>

  <div ng-show="editMode" class="teksti-valmis" ng-if="isEditable()" oikeustarkastelu="{ target: 'opetussuunnitelma', permission: 'muokkaus' }">
    <div class="btn-group" dropdown>
      <a class="btn-valmis" dropdown-toggle>
        <span valmius-ikoni="model.tekstiKappale"></span>
        <span ng-bind="(model.tekstiKappale.valmis ? 'valmis' : 'luonnos') | kaanna"></span>&nbsp;<span class="caret"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li ng-class="{active: !model.tekstiKappale.valmis}">
          <a ng-click="model.tekstiKappale.valmis = false">
            <span valmius-ikoni="valmisOptions[0]"></span>
            <span kaanna="'luonnos'"></span>
          </a>
        </li>
        <li ng-class="{active: model.tekstiKappale.valmis}">
          <a ng-click="model.tekstiKappale.valmis = true">
            <span valmius-ikoni="valmisOptions[1]"></span>
            <span kaanna="'valmis'"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <muokkaustieto tiedot="$$muokkaustiedot"></muokkaustieto>

  <h4>
    <span kaanna="'opsin-teksti'"></span>
    <span ng-if="model.tekstiKappale.teksti.$$validointi && model.pakollinen">
      <span class="tekstikappale-error-badge" ng-repeat="virhe in model.tekstiKappale.teksti.$$validointi"
          kaanna="virhe" tooltip="{{ virhe + '-kuvaus' | kaanna }}"></span>
    </span>
  </h4>

  <div ng-if="editMode">
    <div id="ops-ckeditor" ckeditor class="bigger" ng-model="model.tekstiKappale.teksti" slocalized></div>
  </div>
  <div ng-if="!editMode">
    <div class="tekstiosan-teksti" termisto-viitteet="model.tekstiKappale.teksti" ng-bind-html="model.tekstiKappale.teksti | kaanna | kuvalinkit | unsafe"></div>
    <p class="empty-notice" ng-show="!model.tekstiKappale.teksti" kaanna="'ei-paikallista-sisaltoa'"></p>
  </div>
</div>

<kommentit></kommentit>
