<div class="action-buttons-inline">
  <!-- <a ui-sref="root.pohjat.yksi.tekstikappale({pohjaId: opsId, tekstikappaleId: model.id})">[pohjanäkymä]</a> -->
  <button ng-if="canRemove()" class="btn btn-default" kaanna="'poista'" icon-role="remove" ng-click="remove()"></button>
  <button class="btn btn-default" kaanna="'muokkaa'" icon-role="edit" ng-click="edit()"></button>
</div>

<h2 class="tekstikappale-title">
  <span ng-if="editMode && canRemove()">
    <input ng-model="model.tekstiKappale.nimi" slocalized class="form-control" placeholder="{{'kappaleen-otsikko'|kaanna}}">
  </span>
  <span ng-if="!editMode || !canRemove()" ng-bind="model.tekstiKappale.nimi | kaanna"></span>
</h2>


<div ng-if="ohje.teksti">
  <h4><span kaanna="'ohjeistus'"></span></h4>
  <div class="tekstiosa-wrapper">
    <div class="tekstiosa single perusteen-teksti">
      <a class="toggle-perusteen-teksti" ng-click="options.ohjeistusCollapsed = !options.ohjeistusCollapsed"
         ng-bind="options.ohjeistusCollapsed && 'nayta' || 'piilota' | kaanna"></a>
      <div class="teksti" collapse="options.ohjeistusCollapsed" ng-bind-html="ohje.teksti | kaanna | unsafe"></div>
    </div>
  </div>
</div>

<div ng-if="perusteteksti.teksti">
  <h4><span kaanna="'perusteen-teksti'"></span></h4>
  <div class="tekstiosa-wrapper">
    <div class="tekstiosa single perusteen-teksti">
      <a class="toggle-perusteen-teksti" ng-click="options.perusteentekstiCollapsed = !options.perusteentekstiCollapsed"
         ng-bind="options.perusteentekstiCollapsed && 'nayta' || 'piilota' | kaanna"></a>
      <div class="teksti" collapse="options.perusteentekstiCollapsed" ng-bind-html="perusteteksti.teksti | kaanna | unsafe"></div>
    </div>
  </div>
</div>

<div class="panel-clear-fix tekstiosa single">
  <h4><span kaanna="'opsin-teksti'"></span></h4>

  <div ng-if="editMode">
    <div ckeditor ng-model="model.tekstiKappale.teksti" slocalized></div>
  </div>
  <div ng-if="!editMode">
    <div ng-bind-html="model.tekstiKappale.teksti | kaanna | unsafe"></div>
    <p class="empty-notice" ng-show="!model.tekstiKappale.teksti" kaanna="'ei-paikallista-sisaltoa'"></p>
  </div>

</div>

<kommentit></kommentit>
