<div class="ops-edit-container">
  <h2 ng-hide="luonnissa">
    <div class="action-buttons-inline">
      <button ng-hide="editMode" class="btn btn-default" kaanna="'muokkaa'"
        oikeustarkastelu="{ target: 'opetussuunnitelma', permission: 'poisto' }" icon-role="edit" ng-click="edit()"></button>
    </div>
    <span kaanna="'opsn-tiedot'"></span>
  </h2>
  <div class="muokkaustiedot" ng-hide="editMode || luonnissa">
    <span kaanna="'luotu'"></span> <span ng-bind="model.luotu | aikaleima"></span><span ng-if="model.luotu != model.muokattu">,
    <span kaanna="'muokattu-viimeksi'"></span>  <span ng-bind="model.muokattu | aikaleima"></span></span>
  </div>

  <div ng-if="!(editMode || luonnissa)" class="data-container">
    <div class="row">
      <div class="col-sm-3 formfield-label">
        <label for="ops-field-koulutustyyppi-readonly" kaanna="'koulutustyyppi'"></label>
      </div>
      <div class="col-sm-9 formfield-data viewmode">
        <div id="ops-field-koulutustyyppi-readonly" ng-bind="model.koulutustyyppi | kaanna"></div>
      </div>
    </div>

    <div class="row" ng-if="model.koulutustyyppi === 'koulutustyyppi_16'">
      <div class="col-sm-3 formfield-label">
        <label kaanna="'vuosiluokkakokonaisuudet'"></label>
      </div>
      <div class="col-sm-9 formfield-data viewmode">
        <span ng-repeat="vlk in model.vuosiluokkakokonaisuudet | orderBy:nimiOrder">
          <span ng-bind="vlk.vuosiluokkakokonaisuus.nimi | kaanna"></span><span ng-show="!$last" ng-bind="', '"></span>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 formfield-label">
        <label for="ops-field-nimi-readonly" kaanna="'opsin-nimi'"></label>
      </div>
      <div class="col-sm-9 formfield-data viewmode">
        <span id="ops-field-nimi-readonly" ng-bind="model.nimi | kaanna"></span>
        <span ng-if="model.nimi.$$validointi">
          <span class="tekstikappale-error-badge" ng-repeat="virhe in model.nimi.$$validointi"
              kaanna="virhe" tooltip="{{ virhe + '-kuvaus' | kaanna }}"></span>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 formfield-label">
        <label for="ops-field-pohja-readonly" kaanna="'pohja-ops'"></label>
      </div>
      <div class="col-sm-9 formfield-data viewmode">
        <div id="ops-field-pohja-readonly" ng-bind="model.pohja.nimi | kaanna"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 formfield-label">
        <label for="ops-field-diaarinumero-readonly" kaanna="'peruste'"></label>
      </div>
      <div class="col-sm-9 formfield-data viewmode">
        <div id="ops-field-diaarinumero-readonly" ng-bind="model.perusteenDiaarinumero"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 formfield-label">
        <label kaanna="'organisaatio'"></label>
      </div>

      <div class="col-sm-9 formfield-data">
        <div>
          <div class="organisaatio-label"><label kaanna="'kunta'"></label></div>
          <div class="organisaatio-input viewmode">
            <span ng-repeat="kunta in model.kunnat">{{kunta.nimi | kaanna}}<span ng-show="!$last" ng-bind="', '"></span></span>
          </div>
        </div>

        <div>
          <div class="organisaatio-label"><label kaanna="'organisaatio'"></label></div>
          <div class="organisaatio-input viewmode">
            <span ng-repeat="koulutoimija in model.koulutoimijat">
              {{koulutoimija.nimi | kaanna:false:true}}<span ng-show="!$last" ng-bind="', '"></span>
            </span>
            <span ng-if="!model.koulutoimijat || model.koulutoimijat.length === 0">-</span>
          </div>
        </div>

        <div>
          <div class="organisaatio-label"><label kaanna="'koulu'"></label></div>
          <div class="organisaatio-input viewmode">
            <span ng-repeat="koulu in model.koulut">{{koulu.nimi | kaanna:false:true}}<span ng-show="!$last" ng-bind="', '"></span></span>
            <span ng-if="!model.koulut || model.koulut.length === 0">-</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 formfield-label">
        <label kaanna="'julkaisukielet'"></label>
      </div>

      <div class="col-sm-9 formfield-data viewmode">
        <span ng-repeat="kielikoodi in model.julkaisukielet | orderBy:kieliOrderFn">
          <span ng-bind="kielikoodi | kaanna"></span><span ng-show="!$last" ng-bind="', '"></span>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 formfield-label">
        <label kaanna="'hyvaksyjataho'"></label>
      </div>
      <div class="col-sm-9 formfield-data viewmode">
        <div ng-if="model.hyvaksyjataho" ng-bind="model.hyvaksyjataho"></div>
        <div ng-if="!model.hyvaksyjataho" ng-bind="'ei-maaritetty' | kaanna"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 formfield-label">
        <label kaanna="'paatospaivamaara'"></label>
      </div>
      <div class="col-sm-9 formfield-data viewmode">
        <div ng-bind="model.paatospaivamaara | aikaleima:'date'"></div>
      </div>
    </div>

    <div class="row" ng-show="!(model.tila==='julkaistu')">
      <div class="col-sm-3 formfield-label">
        <label><span kaanna="'esikatselu'"></span></label>
      </div>
      <div class="col-sm-9 formfield-data viewmode">
        <span kaanna="model.esikatseltavissa ? 'esikatseltavissa' : 'ei-esikatseltavissa' "></span>
      </div>
    </div>

  </div>

  <div ng-if="(luonnissa || editMode) && !loading" class="data-container" ng-form="opsForm">
    <div class="row">
      <div class="col-sm-3 formfield-label">
        <label>
          <!-- <span kaanna="'koulutustyyppi'"></span><span ng&#45;if="(editMode || luonnissa)">*</span> -->
        </label>
      </div>

      <div class="col-sm-4 formfield-data" ng-class="{viewmode: !(editMode || luonnissa)}">
        <div ng-if="!(editMode || luonnissa)" ng-bind="editableModel.koulutustyyppi"></div>

        <ui-select ng-if="(luonnissa)" ng-disabled="editMode || ($$isOps && $$pohja)" class="ui-select" ng-model="editableModel.$$pohja">
          <ui-select-choices repeat="pohja in pohjat">
            {{ pohja.nimi | kaanna }}
            ({{ pohja.perusteenDiaarinumero }})
          </ui-select-choices>
          <ui-select-match class="ui-select-match" placeholder="{{'valitse' | kaanna}}">
            {{ editableModel.$$pohja.nimi | kaanna }}
            ({{ editableModel.$$pohja.perusteenDiaarinumero }})
          </ui-select-match>
        </ui-select>
        <p class="alert alert-error" ng-if="pohjaVaroitus" kaanna="'ei-pohjaa-koulutustyypille'"></p>
      </div>
    </div>

    <div ng-show="!luonnissa || editableModel.$$pohja">
      <div ng-if="editableModel.koulutustyyppi === 'koulutustyyppi_16' && editVuosiluokkakokonaisuudet" class="row">
        <div class="col-sm-3 formfield-label">
          <label><span kaanna="'vuosiluokkakokonaisuudet'"></span>*</label>
        </div>
        <div class="col-sm-9 formfield-data">
          <label ng-repeat="vlk in editableModel.vuosiluokkakokonaisuudet | orderBy:nimiOrder" class="julkaisukieli">
            <input type="checkbox" ng-model="vlk.valittu" ng-click="toggle(vlk)"
                   ng-disabled="(model.tila==='valmis' || model.tila==='julkaistu')">
            <span ng-bind="vlk.vuosiluokkakokonaisuus.nimi | kaanna"></span>
          </label>
          <ohje teksti="luonti-vuosiluokka-valinta-info"></ohje>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 formfield-label">
          <label for="ops-field-nimi"><span kaanna="'opsin-nimi'"></span>*</label>
        </div>
        <div class="col-sm-9 formfield-data">
          <input id="ops-field-nimi" ng-model="editableModel.nimi" slocalized class="form-control" placeholder="{{'lisaa-opsin-nimi' | kaanna}}">
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-sm-3 formfield-label">
          <label for="ops-field-kuvaus" kaanna="'kuvaus'"></label>
        </div>
        <div class="col-sm-9 formfield-data">
          <div id="ops-field-kuvaus" ckeditor ng-model="editableModel.kuvaus" slocalized></div>
        </div>
      </div> -->



      <div class="row">
        <div class="col-sm-3 formfield-label">
          <label kaanna="'organisaatio'"></label>
        </div>

        <div class="col-sm-9 formfield-data">
          <div class="organisaatio-label"></div>
          <div class="organisaatio-input">
            <button class="btn btn-default" ng-click="vaihdaKouluvalinta(!kouluvalinta)" ng-if="editableModel.koulutustyyppi === 'koulutustyyppi_999907'">
              <span kaanna="'organisaatioryhma'"></span>
            </button>
          </div>
          <div>
            <div class="organisaatio-label"><label><span kaanna="'kunta'"></span>*</label></div>
            <div class="organisaatio-input">
              <ui-select class="ui-select" multiple ng-model="editableModel.kunnat" on-select="$select.search = ''">
                <ui-select-choices repeat="kunta in kuntalista | filter: $select.search | arrayFilterByField: editableModel.kunnat: 'koodiUri' track by kunta.koodiUri">
                  <span ng-bind-html="kunta.nimi | kaanna | highlight: $select.search"></span>
                </ui-select-choices>
                <ui-select-match class="ui-select-match" placeholder="{{'valitse-kunnat' | kaanna}}">{{$item.nimi|kaanna}}</ui-select-match>
              </ui-select>
            </div>
          </div>
          <div ng-hide="kouluvalinta" style="margin-top: 10px">
            <div>
              <div class="organisaatio-label"><label><span kaanna="'koulutustoimija'"></span>*</label></div>
              <div class="organisaatio-input">
                <ui-select class="ui-select" multiple ng-model="editableModel.koulutoimijat" on-select="$select.search = ''"
                  ng-disabled="editableModel.kunnat.length === 0">
                  <ui-select-choices repeat="koulutoimija in koulutoimijalista | filter: $select.search | arrayFilterByField: editableModel.koulutoimijat: 'oid' track by koulutoimija.oid">
                    <span ng-bind-html="koulutoimija.nimi | kaanna:false:true | highlight: $select.search"></span>
                  </ui-select-choices>
                  <ui-select-match placeholder="{{'valitse-koulutustoimijat' | kaanna}}">{{$item.nimi | kaanna:false:true}}</ui-select-match>
                </ui-select>
              </div>
            </div>

            <div>
              <div class="organisaatio-label"><label kaanna="'koulu'"></label></div>
              <div class="organisaatio-input">
                <ui-select class="ui-select" multiple ng-model="editableModel.koulut" on-select="$select.search = ''"
                  ng-disabled="editableModel.koulutoimijat.length !== 1 || koululista.length === 0">
                  <ui-select-choices repeat="koulu in koululista | filter: $select.search | arrayFilterByField: editableModel.koulut: 'oid' track by koulu.oid">
                    <span ng-bind-html="koulu.nimi | kaanna:false:true | highlight: $select.search"></span>
                  </ui-select-choices>
                  <ui-select-match placeholder="{{'valitse-koulut' | kaanna}}">{{$item.nimi | kaanna:false:true}}</ui-select-match>
                </ui-select>
                <p ng-if="!loadingKoulut && eiKoulujaVaroitus" kaanna="'kunnalla-ei-kouluja'"></p>
              </div>
            </div>
          </div>
          <div ng-show="kouluvalinta" style="margin-top: 10px">
            <div>
              <div class="organisaatio-label"><label><span kaanna="'ryhma'"></span>*</label></div>
              <div class="organisaatio-input">
                <ui-select class="ui-select" ng-model="editableModel.organisaatiot" on-select="$select.search = ''"
                  ng-disabled="false && editableModel.koulutoimijat.length !== 1">
                  <ui-select-choices repeat="ryhma in ryhmalista | filter: $select.search">
                    <span ng-bind-html="ryhma.nimi | kaanna:false:true | highlight: $select.search"></span>
                  </ui-select-choices>
                  <ui-select-match placeholder="{{'valitse-ryhmat' | kaanna}}">{{ $select.selected.nimi | kaanna:false:true }}</ui-select-match>
                </ui-select>
                <!-- <p ng&#45;if="!loadingKoulut &#38;&#38; eiKoulujaVaroitus" kaanna="'kunnalla&#45;ei&#45;kouluja'"></p> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 formfield-label">
          <label><span kaanna="'julkaisukielet'"></span>*</label>
        </div>
        <div class="col-sm-9 formfield-data">
          <label ng-repeat="kielikoodi in kielivalinnat" class="julkaisukieli">
            <input type="checkbox" ng-model="julkaisukielet[kielikoodi]"
                   ng-disabled="(model.tila==='valmis' || model.tila==='julkaistu')">
            <span ng-bind="kielikoodi | kaanna"></span>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 formfield-label">
          <label for="ops-field-hyvaksyjataho"><span kaanna="'hyvaksyjataho'"></span></label>
        </div>
        <div class="col-sm-9 formfield-data">
          <input id="ops-field-hyvaksyjataho" ng-model="editableModel.hyvaksyjataho"
                 slocalised class="form-control" placeholder="{{'lisaa-nimi' | kaanna}}"/>

        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 formfield-label">
          <label for="paatospaivamaara"><span kaanna="'paatospaivamaara'"></span></label>
        </div>
        <div class="col-sm-9 formfield-data">
          <span class="input-group">
            <input type="text" id="paatospaivamaara" name="paatospaivamaara" class="form-control" datepicker-popup="{{format}}"
                   ng-model="editableModel.paatospaivamaara" placeholder="{{'anna-paatospaivamaara'| kaanna}}" is-open="kalenteriTilat.paatospaivamaaraButton"
                   datepicker-options="dateOptions" show-button-bar="false" dateformatvalidator/>
            <span class="input-group-btn">
              <button id="paatospaivamaaraButton" class="btn btn-default" ng-click="open($event)"><span icon-role="calendar"></span></button>
            </span>
          </span>
          <p class="alert alert-error" ng-show="opsForm.paatospaivamaara.$error.dateformatvalidator" kaanna="'kelvoton-pvm'"></p>
        </div>
      </div>

      <div class="row" ng-show="!(model.tila==='julkaistu' || luonnissa)">
        <div class="col-sm-3 formfield-label">
          <label><span kaanna="'esikatselu'"></span></label>
        </div>
        <div class="col-sm-9 formfield-data">
          <input type="checkbox" ng-model="editableModel.esikatseltavissa">
        </div>
      </div>

      <div class="row" ng-if="luonnissa">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
          <div class="luontinapit">
            <button class="btn btn-default tallenna-peruuta-nappi" kaanna="'peruuta'" ng-click="uusi.cancel()"></button>
            <button class="btn btn-primary tallenna-peruuta-nappi" kaanna="'luo-opetussuunnitelma'" ng-click="uusi.create()"
              ng-disabled="!hasRequiredFields() || savingDisabled"></button>
          </div>
        </div>
      </div>
    </div>

    <!-- tilaa kunta/koulu-dropdowneille -->
    <div ng-if="editMode" class="organisaatio-spacer"></div>

  </div>

</div>
