<h1 ng-bind="model.nimi | kaanna"></h1>

<div class="action-buttons">
  <button ng-hide="editMode" class="btn btn-default" kaanna="'muokkaa'" icon-role="edit" ng-click="edit()"></button>
  <button ng-hide="editMode" class="btn btn-default" kaanna="'poista'" icon-role="remove" ng-click="delete()"></button>
</div>

<div ng-if="!editMode">
  <h3 kaanna="'kuvaus'"></h3>
  <div ng-bind-html="model.kuvaus | kaanna | unsafe"></div>
  <h3 kaanna="'tekstikappaleet'"></h3>
  <p ng-show="!model.tekstit || model.tekstit.length === 0" kaanna="'ei-tekstikappaleita'"></p>

  <div class="panel panel-default" ng-repeat="kappale in model.tekstit">
    <div class="panel-heading">
      <h3 class="panel-title" ng-bind="kappale.nimi | kaanna"></h3>
    </div>
    <div class="panel-body">
      <div ng-bind-html="kappale.teksti | kaanna | unsafe"></div>
    </div>
  </div>

</div>

<div ng-if="editMode">
  <h3 kaanna="'nimi'"></h3>
  <input ng-model="model.nimi" slocalized class="form-control">
  <h3 kaanna="'kuvaus'"></h3>
  <div ckeditor ng-model="model.kuvaus" slocalized></div>
  <h3 kaanna="'tekstikappaleet'"></h3>
  <button class="btn btn-default" kaanna="'luo-uusi-tekstikappale'" icon-role="add" ng-click="tekstit.add()"></button>

  <div class="panel panel-default" ng-repeat="kappale in model.tekstit">
    <div class="panel-heading">
      <div class="input-group">
        <input ng-model="kappale.nimi" slocalized class="form-control">
        <span class="input-group-addon">
          <a class="action-link" ng-click="tekstit.remove(kappale)" icon-role="remove" kaanna="'poista'"></a>
        </span>
      </div>
    </div>
    <div class="panel-body">
      <div ckeditor ng-model="kappale.teksti" slocalized></div>
    </div>
  </div>

</div>
