<h2 ng-bind="oppiaine.nimi | kaanna"></h2>

<div perusteen-tekstiosa="perusteOppiaine.tehtava"></div>

<div class="tekstiosa-wrapper">
  <h3>
    <div class="action-buttons-inline">
      <button class="btn btn-default" icon-role="th-list" ng-click="startVuosiluokkaistaminen()" kaanna="'tavoitteiden-vuosiluokkaistaminen'"></button>
    </div>
    <span kaanna="'tavoitteet-ja-sisallot-vuosiluokittain'"></span>
  </h3>

  <p class="empty-notice" ng-if="!vuosiluokat || vuosiluokat.length === 0" kaanna="'vuosiluokkaistamista-ei-viela-tehty'"></p>
  <table ng-if="vuosiluokat.length > 0" class="table table-striped table-hover vuosiluokat-table">
    <tr>
      <th width="15%" kaanna="'vuosiluokka'"></th>
      <th kaanna="'tavoitteet'"></th>
      <th kaanna="'sisaltoalueet'"></th>
    </tr>
    <tr ng-repeat="vuosiluokka in vuosiluokat | orderBy:'$numero'">
      <td>
        <a ui-sref="root.opetussuunnitelmat.yksi.oppiaine.vuosiluokka({vlId: vuosiluokka.id})">
          <span kaanna="'vuosiluokka'"></span> {{vuosiluokka.$numero}}
        </a>
      </td>
      <td>
        <span ng-repeat="tavoite in vuosiluokka.tavoitteet" ng-class="{short: tavoite.$short}">
          <span ng-if="tavoite.$short" ng-bind="tavoite.$short"></span>
          <span class="long" ng-if="!tavoite.$short" ng-bind="tavoite.tavoite | kaanna | stripTags"></span></span>
        </span>
      </td>
      <td>
        <span ng-repeat="alue in vuosiluokka.sisaltoalueet">
          <span ng-if="alue.$short" ng-bind="alue.$short"></span>
          <span class="long" ng-if="!alue.$short" ng-bind="alue.nimi | kaanna"></span></span>
      </td>
    </tr>

  </table>
</div>

<div perusteen-tekstiosa="perusteOpVlk.tehtava"></div>
<div perusteen-tekstiosa="perusteOpVlk.tyotavat" muokattava="oppiaineenVlk.tyotavat" callbacks="callbacks"></div>
<div perusteen-tekstiosa="perusteOpVlk.ohjaus" muokattava="oppiaineenVlk.ohjaus" callbacks="callbacks"></div>
<div perusteen-tekstiosa="perusteOpVlk.arviointi" muokattava="oppiaineenVlk.arviointi" callbacks="callbacks"></div>
