<div class="ops-edit-container uusioppiaine">
  <h2 kaanna="uusi-valinnainen-aine"></h2>

  <div class="panel panel-default">
    <div class="panel-body">
      <h3 collapse-toggler="options.perustiedot" class="panel-title">
        <span kaanna="'perustiedot'"></span>
      </h3>
      <div class="panel-collapsed-body" collapse="options.perustiedot">

        <div class="row">
          <div class="col-sm-3 formfield-label">
            <label><span kaanna="'valinnaisen-nimi'"></span>*</label>
          </div>

          <div class="col-sm-9 formfield-data">
            <input class="form-control" slocalized ng-model="oppiaine.nimi">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 formfield-label">
            <label><span kaanna="'tyyppi'"></span>*</label>
          </div>

          <div class="col-sm-9 formfield-data">
            <select class="form-control" ng-model="oppiaine.tyyppi"
                    ng-options="(item | kaanna) for item in tyypit">
              <option value="">{{'valitse-tyyppi' | kaanna}}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 formfield-label">
            <label><span kaanna="'oppiaineen-tehtava'"></span>*</label>
          </div>

          <div class="col-sm-9 formfield-data">
            <div ckeditor slocalized ng-model="oppiaine.vuosiluokkakokonaisuudet[0].tehtava.teksti"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 formfield-label">
            <label><span kaanna="'laajuus'"></span>*</label>
          </div>

          <div class="col-sm-9 formfield-data">
            <input type="number" min="1" class="form-control form-short" ng-model="oppiaine.laajuus"><span kaanna="'vuosiviikkotuntia'"></span><br>
            <div><span kaanna="'arvosana'"></span>:&nbsp;<span ng-bind="oppiaine.laajuus < 2 ? 'sanallinen' : 'numero' | kaanna"></span></div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 formfield-label">
            <label><span kaanna="'vuosiluokat'"></span>*</label>
          </div>

          <div class="col-sm-9 formfield-data">
            <label ng-repeat="vuosiluokka in vuosiluokat" class="vuosiluokka">
              <input type="checkbox" ng-model="valitutVuosiluokat[vuosiluokka]">
              <span ng-bind="vuosiluokka | kaanna"></span>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 formfield-label">
            <label><span kaanna="'oppiaine-arviointi'"></span></label>
          </div>

          <div class="col-sm-9 formfield-data">
            <div ckeditor slocalized ng-model="oppiaine.vuosiluokkakokonaisuudet[0].arviointi.teksti"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 formfield-label">
            <label><span kaanna="'oppiaine-tyotavat'"></span></label>
          </div>

          <div class="col-sm-9 formfield-data">
            <div ckeditor slocalized ng-model="oppiaine.vuosiluokkakokonaisuudet[0].tyotavat.teksti"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 formfield-label">
            <label><span kaanna="'oppiaine-ohjaus'"></span></label>
          </div>

          <div class="col-sm-9 formfield-data">
            <div ckeditor slocalized ng-model="oppiaine.vuosiluokkakokonaisuudet[0].ohjaus.teksti"></div>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col-sm-3 formfield-label">
            <label><span kaanna="'vuosiluokkakokonaisuudet'"></span>*</label>
          </div>

          <div class="col-sm-9 formfield-data">
            <ul>
              <li ng-repeat="vlk in vuosiluokkakokonaisuudet">
                <label>
                  <input type="checkbox" ng-model="chosenVlk[vlk.vuosiluokkakokonaisuus.id]">
                  <span ng-bind="vlk.vuosiluokkakokonaisuus.nimi | kaanna"></span>
                </label>
              </li>
            </ul>
          </div>
        </div> -->

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <h3 collapse-toggler="options.tavoitteet" class="panel-title">
        <span kaanna="'tavoitteet-ja-sisallot'"></span>
      </h3>
      <div class="panel-collapsed-body" collapse="options.tavoitteet">
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-9" ng-bind="'tavoitteiden-muokkauksen-ohjeteksti' | kaanna"></div>
        </div>
        <div class="oppiaineen-tavoite" ng-repeat="tavoite in tavoitteet">
          <hr>
          <div class="row">
            <div class="col-sm-3 formfield-label">
              <label><span kaanna="'tavoite-otsikko'"></span></label>
            </div>
            <div class="col-sm-9 formfield-data">
              <input class="form-control" slocalized ng-model="tavoite.otsikko">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3 formfield-label">
              <label><span kaanna="'tavoite-sisalto'"></span></label>
            </div>
            <div class="col-sm-9 formfield-data">
              <div ckeditor slocalized ng-model="tavoite.teksti"></div>
            </div>
          </div>

        </div>
        <button class="btn btn-default" kaanna="'lisaa-tavoite'" icon-role="add" ng-click="tavoite.add()"></button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-9">
      <div class="luontinapit">
        <button class="btn btn-default tallenna-peruuta-nappi" kaanna="'peruuta'" ng-click="uusi.cancel()"></button>
        <button class="btn btn-primary tallenna-peruuta-nappi" kaanna="'luo-oppiaine-nappi'" ng-click="uusi.create()"
              ng-disabled="!hasRequiredFields()"></button>
      </div>
    </div>
  </div>

</div>
