<!-- valinnaiset.html -->
<div class="action-buttons-inline" ng-if="isEditable()">
  <button class="btn btn-default" kaanna="'luo-uusi-valinnainen-aine'" icon-role="add" ng-click="addOppiaine()"  oikeustarkastelu="{ target: 'opetussuunnitelma', permission: 'muokkaus' }"></button>
</div>

<h2>
  <span ng-bind="'valinnaiset-oppiaineet' | kaanna"></span>
</h2>
<div class="title-addon" ng-bind="vlk.nimi | kaanna"></div>

<p class="empty-notice" ng-if="!valinnaiset || valinnaiset.length === 0" kaanna="'ei-valinnaisia-aineita'"></p>

<table class="table table-striped" ng-if="valinnaiset && valinnaiset.length > 0">
    <thead>
        <tr>
            <th kaanna>oppiaineen-nimi-otsikko</th>
            <th kaanna>laajuus-otsikko</th>
            <th kaanna>vuosiluokat-ja-tavoitteet-otsikko</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="oppiaine in valinnaiset">
            <td><a ui-sref="root.opetussuunnitelmat.yksi.opetus.oppiaine.oppiaine({oppiaineId: oppiaine.id, vlkId: vlk.id, oppiaineTyyppi: oppiaine.tyyppi})"
           ng-bind="oppiaine.nimi | kaanna"></a></td>
           <td><span ng-bind="oppiaine.laajuus + ' ' + ('vvh' | kaanna)"></span></td>
           <td>
                <div ng-repeat="vuosiluokka in oppiaine.vlk.vuosiluokat">
                    <strong><span ng-bind="vuosiluokka.vuosiluokka | kaanna"></span><span ng-bind="'vuosiluokka-paate' | kaanna"></span></strong>
                         <ul>
                             <li ng-if="isEditable() && (!vuosiluokka.tavoitteet || vuosiluokka.tavoitteet.length === 0)">
                                 <a ui-sref="root.opetussuunnitelmat.yksi.opetus.oppiaine.vuosiluokka.tavoitteet({vlkId: vlk.id, oppiaineId: oppiaine.id, vlId: vuosiluokka.id})"
                                   ng-bind="'tavoitteet-ja-sisallot-maarittelematta' | kaanna"></a>
                             </li>
                            <li ng-repeat="tavoite in vuosiluokka.tavoitteet">
                               <span ng-bind="tavoite.tavoite | kaanna"></span>
                           </li>
                       </ul>
                </div>
           </td>
        </tr>
    </tbody>
</table>
