<div class="action-buttons-inline" ng-hide="true || options.editing" ng-if="isEditable()">
  <button class="btn btn-default" kaanna="'lisaa-oppiaine'" icon-role="add" ng-click="addOppiaine()"></button>
</div>

<h2 ng-bind="vlk.nimi | kaanna"></h2>

<div class="vuosiluokkakokonaisuus">

  <div perusteen-tekstiosa="perusteVlk.tehtava" muokattava="temp.tehtava" callbacks="callbacks" config="options"></div>

  <h2 ng-if="hasSiirtymat()" kaanna="'siirtymavaiheet'"></h2>
  <div ng-repeat="osio in siirtymat">
    <div perusteen-tekstiosa="perusteVlk[osio]" muokattava="temp[osio]" callbacks="callbacks" config="options"></div>
  </div>

  <h2 ng-if="perusteVlk.laajaalainenOsaaminen" kaanna="'laaja-alainen-osaaminen'"></h2>
  <div perusteen-tekstiosa="perusteVlk.laajaalainenOsaaminen"></div>

  <h2 ng-if="tunnisteet.length > 0" kaanna="'laaja-alaiset-osaamiset'"></h2>
  <div ng-repeat="tunniste in tunnisteet | orderBy:orderFn" id="{{tunniste}}">
    <div perusteen-tekstiosa="laajaalaiset[tunniste]" muokattava="paikalliset[tunniste]" callbacks="callbacks" config="options"></div>
  </div>

</div>
