<div>
  <div class="container-items" ui-sortable="sortableOptions" ng-model="oppiaineet">
    <div class="vkl-sortable" ng-repeat="oppiaine in oppiaineet">
      <span class="handle" icon-role="drag"></span>
      <span ng-bind="oppiaine.nimi | kaanna"></span>
      <div class="container-items-oa" ui-sortable="sortableOptionsOa" ng-model="oppiaine.oppimaarat">
        <div class="vkl-sortable vkl-sortable-oppimaarat" ng-repeat="oppimaara in oppiaine.oppimaarat">
          <span class="handle" icon-role="drag"></span>
          <span ng-bind="oppimaara.nimi | kaanna"></span>
        </div>
      </div>
    </div>
  </div>
</div>
