<div class="tavoitteet">
  <div class="tavoite" ng-if="perusteOpVlk.sisaltoalueinfo">
  <div class="header">
      <div class="toggle-nimi">
        <span class="toggle" collapse-toggler="sisaltoInfoCollapse"></span>
        <span class="nimi" ng-click="sisaltoInfoCollapse = !sisaltoInfoCollapse"
              ng-bind="perusteOpVlk.sisaltoalueinfo.otsikko | kaanna"></span>
      </div>
    </div>
    <div class="peruste-body ikoni-peruste" collapse="sisaltoInfoCollapse">
      <div class="peruste-wrapper">
        <h4 kaanna="'perusteen-teksti'"></h4>
        <div ng-bind-html="perusteOpVlk.sisaltoalueinfo.teksti | kaanna | unsafe"></div>
      </div>
    </div>
  </div>
  
  <div class="tavoite" ng-repeat="tunniste in tunnisteet" id="{{tunniste}}">

    <div class="header">
      <div class="toggle-nimi">
        <span class="toggle" collapse-toggler="collapsed[tunniste]"></span>
        <span class="nimi" ng-click="collapsed[tunniste] = !collapsed[tunniste]"
              ng-bind="perusteSisaltoalueet[tunniste].nimi | kaanna"></span>
      </div>
    </div>

    <div class="peruste-body ikoni-peruste" collapse="collapsed[tunniste]">
      <div class="peruste-wrapper">
        <h4 kaanna="'perusteen-teksti'"></h4>
        <div ng-bind-html="perusteSisaltoalueet[tunniste].kuvaus | kaanna | unsafe"></div>
      </div>
    </div>

    <div class="ops-body">
      <div ops-teksti="muokattavat[tunniste]" callbacks="callbacks" config="options"></div>
    </div>

  </div>
</div>
