<!-- vuosiluokka.html -->
<div class="vuosiluokka">
  <h2>
    <span ng-bind="oppiaine.nimi | kaanna"></span>, {{'vuosiluokka' | kaanna}} {{vuosiluokkaNro}}
  </h2>

  <p ng-if="eiPerustetta" class="alert alert-error" kaanna="'ei-perustetta-info'"></p>

  <ul class="nav nav-tabs vl-tabit">
    <li role="presentation" ng-class="{active: isState('tavoitteet')}">
      <a ui-sref="root.opetussuunnitelmat.yksi.oppiaine.vuosiluokka.tavoitteet" kaanna="'tavoitteet'"></a>
    </li>
    <li role="presentation" ng-class="{active: isState('sisaltoalueet')}" ng-hide="onValinnaiselle">
      <a ui-sref="root.opetussuunnitelmat.yksi.oppiaine.vuosiluokka.sisaltoalueet" kaanna="'sisaltoalueet'"></a>
    </li>
  </ul>

  <div class="content">
    <div class="tab-content-container">
      <div ui-view></div>
    </div>
  </div>

</div>
