<div class="row vuosiluokkaistaminen-header">
  <div class="col-md-6">
    <h1 kaanna="'vuosiluokkaistaminen'"></h1>
    <a ng-click="collapsedMode = !collapsedMode" ng-bind="'pienet-tavoitteet' | kaanna" class="action-link"></a>
  </div>
  <div class="col-md-6">
    <p class="ohje-teksti" ng-bind-html="'vuosiluokkaistaminen-ohje' | kaanna | unsafe"></p>
    <div class="vuosiluokkaistaminen-buttons upper">
      <div class="buttons">
        <button class="btn btn-default" kaanna="'peruuta'" ng-click="cancel()"></button>
        <span ng-attr-title="{{(allDragged ? '' : 'kaikkia-ei-vuosiluokkaistettu') | kaanna}}">
          <button class="btn btn-primary" kaanna="'tallenna'" ng-disabled="!allDragged" ng-click="save()"></button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row vuosiluokkaistaminen-container">
  <div class="col-md-6">
    <div class="vuosiluokka tavoitteet panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{containers.tavoitteet.label | kaanna}}
          <span ng-if="allDragged" ng-attr-title="{{'kaikki-vuosiluokkaistettu' | kaanna}}"
                class="all-done glyphicon glyphicon-ok"></span>
        </h3>
      </div>
      <div class="panel-body">
        <ul class="container-items tavoite-list" ng-class="{empty: containers.tavoitteet.items.length === 0}"
            id="{{containers.tavoitteet.id}}" ui-sortable="sortableOptions" ng-model="containers.tavoitteet.items">
          <li ng-repeat="item in containers.tavoitteet.items | orderBy:tavoiteSorter track by $index"
              ng-class="{'not-used': !item.$kaytossa, 'collapsed-mode': item.$collapsed}"
              class="container-item" id="{{containers.tavoitteet.id + '_' + item.tunniste}}">
            <span ng-hide="item.$collapsed" ng-style="item.kohdealue.styles" class="kohdealue"
                  ng-bind="item.kohdealue.nimi | kaanna"></span>
            <div class="tavoite-nimi" collapse-toggler="item.$collapsed"
                  ng-attr-title="{{item.tavoite | kaanna | stripTags}}">
              <span class="tavoite-nimi-nimi" ng-bind-html="item.tavoite | kaanna | unsafe"></span>
            </div>
            <ul class="sisaltoalueet" ng-hide="item.$collapsed">
              <li ng-repeat="sisaltoalue in item.sisaltoalueet | orderBy:sisaltoalueSorter" ng-bind="perusteSisaltoalueet[sisaltoalue].nimi | kaanna"></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div ng-repeat="vl in singleVuosiluokat | orderBy" class="panel panel-default vuosiluokka">
      <div class="panel-heading">
        <h3 class="panel-title">{{'vuosiluokka' | kaanna}} {{vl}}
          <div class="napit">
            <a icon-role="arrow-down" ng-attr-title="{{'tuo-kaikki'|kaanna}}" ng-click="placeAll(containers[vl])"></a>
            <a icon-role="trash" ng-attr-title="{{'tyhjenna'|kaanna}}" ng-click="empty(containers[vl])"></a>
          </div>
        </h3>
      </div>
      <div class="panel-body">
        <ul class="container-items vuosiluokka-list" ng-class="{empty: containers[vl].items.length === 0}"
            id="{{containers[vl].id}}" ui-sortable="sortableOptions" ng-model="containers[vl].items">
          <li ng-repeat="item in containers[vl].items | orderBy:tavoiteSorter track by $index"
              ng-class="{'not-used': !item.$kaytossa}"
              class="container-item" id="{{containers[vl].id + '_' + item.tunniste}}">
            <span ng-bind-html="item.tavoite | kaanna | unsafe" ng-attr-title="{{item.tavoite | kaanna | stripTags}}"></span>
            <span class="remover" icon-role="remove" ng-click="remove(containers[vl], item)" ng-attr-title="{{'poista' | kaanna}}"></span>
          </li>
        </ul>
        <p class="vuosiluokka-empty-ohje" ng-if="containers[vl].items.length === 0" ng-bind="'veda-tavoitteet-tahan' | kaanna"></p>
      </div>
    </div>
  </div>
</div>
<div class="vuosiluokkaistaminen-buttons">
  <div class="buttons">
    <button class="btn btn-default" kaanna="'peruuta'" ng-click="cancel()"></button>
    <span ng-attr-title="{{(allDragged ? '' : 'kaikkia-ei-vuosiluokkaistettu') | kaanna}}">
      <button class="btn btn-primary" kaanna="'tallenna'" ng-disabled="!allDragged" ng-click="save()"></button>
    </span>
  </div>
</div>
