<div class="vuosiluokkaistaminen-header">
  <h2 kaanna="'vuosiluokkaistaminen'"></h2>
  <label><input type="checkbox" ng-model="collapsedMode"><span kaanna="'pienet-tavoitteet'"></span></label>
  <label><input type="checkbox" ng-model="showKohdealueet"><span kaanna="'nayta-kohdealueet'"></span></label>
  <div class="buttons">
    <button class="btn btn-default" kaanna="'peruuta'" ng-click="cancel()"></button>
    <span ng-attr-title="{{(allDragged ? '' : 'kaikkia-ei-vuosiluokkaistettu') | kaanna}}">
      <button class="btn btn-primary" kaanna="'tallenna'" ng-disabled="!allDragged" ng-click="save()"></button>
    </span>
  </div>
</div>

<div class="vuosiluokkaistaminen-container-outer">
  <div class="vuosiluokkaistaminen-container">
  <div ng-repeat="container in containers" class="panel panel-default vuosiluokka" ng-class="{tavoitteet: container.type === 'tavoitteet'}">
    <div class="panel-heading">
      <h3 class="panel-title">{{container.label || 'vuosiluokka' | kaanna}} {{container.vuosiluokka}}
        <span ng-if="container.type === 'tavoitteet' && allDragged"
              ng-attr-title="{{'kaikki-vuosiluokkaistettu' | kaanna}}"
              class="all-done glyphicon glyphicon-ok"></span>
      </h3>
    </div>
    <div class="panel-body">
      <ul class="container-items" ng-class="{empty: container.items.length === 0,
        'tavoite-list': container.type === 'tavoitteet',
        'vuosiluokka-list': container.type !== 'tavoitteet'}"
          id="{{container.id}}" ui-sortable="sortableOptions" ng-model="container.items">
        <li ng-repeat="item in container.items | orderBy:tavoiteSorter track by $index"
            ng-class="{'not-used': !item.$kaytossa, 'collapsed-mode': collapsedMode}"
            class="container-item" id="{{container.id + '-' + item.koodi}}">
          <span ng-show="showKohdealueet" ng-style="item.kohdealue.styles" class="kohdealue"
                ng-bind="item.kohdealue.nimi | kaanna"></span>
          <span class="koodi" ng-bind="item.koodi"></span>
          <span ng-bind="item.tavoite | kaanna" ng-attr-title="{{item.tavoite | kaanna}}"></span>
        </li>
      </ul>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
</div>
