<div class="tavoitteet" ng-if="!onValinnaiselle">
  <div class="tavoite" ng-repeat="tunniste in tunnisteet">

    <div class="header" ng-class="{kohdealueeton: !tavoiteMap[tunniste].$kohdealue}">
      <div class="kohdealue" ng-bind="tavoiteMap[tunniste].$kohdealue.nimi | kaanna"></div>
      <div class="toggle-nimi">
        <span class="toggle" collapse-toggler="collapsed[tunniste]"></span>
        <span class="nimi" ng-click="collapsed[tunniste] = !collapsed[tunniste]"
              ng-bind="tavoiteMap[tunniste].$tavoite | kaanna | stripTags"></span>
      </div>
      <div class="clearer"></div>
    </div>

    <div class="peruste-body ikoni-peruste" collapse="collapsed[tunniste]">
      <div class="listat">
        <div class="lista">
          <h4 kaanna="'sisaltoalueet'"></h4>
          <ul>
            <li ng-repeat="sisaltoalue in tavoiteMap[tunniste].$sisaltoalueet | orderBy:nimiOrder">
              <a ng-bind="sisaltoalue.nimi | kaanna" ng-href="{{sisaltoalue.$url}}"></a>
            </li>
          </ul>
        </div>
        <div class="lista">
          <h4 kaanna="'laaja-alaiset-osaamiset'"></h4>
          <ul>
            <li ng-repeat="laajaalainen in tavoiteMap[tunniste].$laajaalaiset | orderBy:nimiOrder">
              <a ng-href="{{laajaalainen.$url}}" ng-bind="laajaalainen.nimi | kaanna"></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="arviointi" ng-if="tavoiteMap[tunniste].$arvioinninkohteet.length > 0">
        <h4 kaanna="'arviointi-vuosiluokan-paatteeksi'"></h4>
        <table class="table table-bordered kriteerit">
          <tr>
            <th width="30%" kaanna="'arvioinnin-kohde'"></th>
            <th kaanna="'arvion-hyva-osaaminen'"></th>
          </tr>
          <tr ng-repeat="kohde in tavoiteMap[tunniste].$arvioinninkohteet">
            <td ng-bind="kohde.arvioinninKohde | kaanna"></td>
            <td ng-bind="kohde.hyvanOsaamisenKuvaus | kaanna"></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="ops-body">
      <div ops-teksti="muokattavat[tunniste]" callbacks="callbacks" config="options"></div>
    </div>
  </div>
</div>

<div class="tavoitteet valinnaisen-tavoitteet" ng-if="onValinnaiselle">
  <div class="tavoite" ng-repeat="tavoite in valinnaisenTavoitteet">
    <div class="ops-body">
      <div valinnaisen-ops-teksti="tavoite" callbacks="callbacks" config="options"></div>
    </div>
  </div>
  <div class="tavoite add-tavoite" ng-if="isEditable()">
    <button class="btn btn-default" icon-role="add" ng-click="callbacks.add()" kaanna="'lisaa-tavoite'" oikeustarkastelu="{ target: 'opetussuunnitelma', permission: 'muokkaus' }"></button>
  </div>
</div>
