<div class="vuosiluokka">
  <h2>
    <span ng-bind="oppiaine.nimi | kaanna"></span>, {{'vuosiluokka' | kaanna}} {{vuosiluokkaNro}}
  </h2>

  <ul class="nav nav-tabs vl-tabit" ng-if="!onValinnaiselle">
    <li role="presentation" ng-class="{active: isState('tavoitteet')}">
      <a ui-sref="root.opetussuunnitelmat.yksi.oppiaine.vuosiluokka.tavoitteet" kaanna="'tavoitteet'"></a>
    </li>
    <li role="presentation" ng-class="{active: isState('sisaltoalueet')}">
      <a ui-sref="root.opetussuunnitelmat.yksi.oppiaine.vuosiluokka.sisaltoalueet" kaanna="'sisaltoalueet'"></a>
    </li>
  </ul>

  <div class="content">
    <div class="tab-content-container">
      <div ui-view></div>
    </div>
  </div>

</div>
