<div class="tavoitteet">
  <div class="tavoite" ng-repeat="tunniste in tunnisteet" id="{{tunniste}}">

    <div class="header">
      <span class="toggle" collapse-toggler="collapsed[tunniste]"></span>
      <span class="nimi" ng-click="collapsed[tunniste] = !collapsed[tunniste]"
            ng-bind="perusteSisaltoalueet[tunniste].nimi | kaanna"></span>
    </div>

    <div class="peruste-body" collapse="collapsed[tunniste]">
      <h4 kaanna="'perusteen-teksti'"></h4>
      <div ng-bind-html="perusteSisaltoalueet[tunniste].kuvaus | kaanna | unsafe"></div>
    </div>

    <div class="ops-body">
      <div ops-teksti="muokattavat[tunniste]" ops-teksti-root="true" callbacks="callbacks"></div>
    </div>

  </div>
</div>
