<div class="tavoitteet">
  <div class="tavoite" ng-repeat="tunniste in tunnisteet">

    <div class="header">
      <span class="kohdealue" ng-bind="tavoiteMap[tunniste].$kohdealue.nimi | kaanna"></span>
      <span class="toggle" collapse-toggler="collapsed[tunniste]"></span>
      <span class="nimi" ng-click="collapsed[tunniste] = !collapsed[tunniste]"
            ng-bind="tavoiteMap[tunniste].$tavoite | kaanna | stripTags"></span>
    </div>

    <div class="peruste-body" collapse="collapsed[tunniste]">
      <div class="listat">
        <div class="lista">
          <h4 kaanna="'sisaltoalueet'"></h4>
          <ul>
            <li ng-repeat="sisaltoalue in tavoiteMap[tunniste].$sisaltoalueet | orderBy:nimiOrder">
              <a ng-bind="sisaltoalue.nimi | kaanna" ng-href="{{sisaltoalue.$url}}"></a>
            </li>
          </ul>
        </div>
        <div class="lista">
          <h4 kaanna="'laaja-alaiset-osaamiset'"></h4>
          <ul>
            <li ng-repeat="laajaalainen in tavoiteMap[tunniste].$laajaalaiset | orderBy:nimiOrder">
              <a ng-href="{{laajaalainen.$url}}" ng-bind="laajaalainen.nimi | kaanna"></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="arviointi" ng-if="tavoiteMap[tunniste].$arvioinninkohteet.length > 0">
        <h4 kaanna="'arviointi-vuosiluokan-paatteeksi'"></h4>
        <table class="table table-hover table-bordered kriteerit">
          <tr>
            <th width="30%" kaanna="'arvioinnin-kohde'"></th>
            <th kaanna="'arvion-hyva-osaaminen'"></th>
          </tr>
          <tr ng-repeat="kohde in tavoiteMap[tunniste].$arvioinninkohteet">
            <td ng-bind="kohde.arvioinninKohde | kaanna"></td>
            <td ng-bind="kohde.hyvanOsaamisenKuvaus | kaanna"></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="ops-body">
      <div ops-teksti="muokattavat[tunniste]" callbacks="callbacks" config="options"></div>
    </div>

  </div>
</div>
